@charset "UTF-8";
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/*
 * Mixin for reset ul, ol lists default styles
 */
/*
 *  One line text crop with ellipsis added
 */
/**
 *  This mixin will crop text in block for needed amount of lines and put ellipsis at the end
 *
 *  @param $font-size font-size property
 *  @param $line-height line-height property
 *  @param $lines-to-show amount of lines to show
 */
/*
  * Tips:
  * Try border-style: inset if Firefox renders a strange gray border
  * Add -webkit-transform:rotate(360deg) for a better anti-aliasing in webkit browser
*/
/*
 * Mixin for making images with different aspect ratio to fit into fixed size container block
 */
.blue-bg {
  color: #FFFFFF;
  background-color: #00adee; }

.btn-blue {
  color: #ffffff;
  background-color: #00adee;
  border-color: #ffffff;
  border-radius: 20px;
  padding: 7px 30px; }
  .btn-blue:focus, .btn-blue.focus {
    color: #ffffff;
    background-color: #0088bb;
    border-color: #bfbfbf; }
  .btn-blue:hover {
    color: #ffffff;
    background-color: #0088bb;
    border-color: #e0e0e0; }
  .btn-blue:active, .btn-blue.active,
  .open > .btn-blue.dropdown-toggle {
    color: #ffffff;
    background-color: #0088bb;
    border-color: #e0e0e0; }
    .btn-blue:active:hover, .btn-blue:active:focus, .btn-blue:active.focus, .btn-blue.active:hover, .btn-blue.active:focus, .btn-blue.active.focus,
    .open > .btn-blue.dropdown-toggle:hover,
    .open > .btn-blue.dropdown-toggle:focus,
    .open > .btn-blue.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #006e97;
      border-color: #bfbfbf; }
  .btn-blue:active, .btn-blue.active,
  .open > .btn-blue.dropdown-toggle {
    background-image: none; }
  .btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled.focus, .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled].focus,
  fieldset[disabled] .btn-blue:hover,
  fieldset[disabled] .btn-blue:focus,
  fieldset[disabled] .btn-blue.focus {
    background-color: #00adee;
    border-color: #ffffff; }
  .btn-blue .badge {
    color: #00adee;
    background-color: #ffffff; }

.btn-green {
  color: #ffffff;
  background-color: #00a8b9;
  border-color: #ffffff;
  border-radius: 20px;
  padding: 7px 30px; }
  .btn-green:focus, .btn-green.focus {
    color: #ffffff;
    background-color: #007a86;
    border-color: #bfbfbf; }
  .btn-green:hover {
    color: #ffffff;
    background-color: #007a86;
    border-color: #e0e0e0; }
  .btn-green:active, .btn-green.active,
  .open > .btn-green.dropdown-toggle {
    color: #ffffff;
    background-color: #007a86;
    border-color: #e0e0e0; }
    .btn-green:active:hover, .btn-green:active:focus, .btn-green:active.focus, .btn-green.active:hover, .btn-green.active:focus, .btn-green.active.focus,
    .open > .btn-green.dropdown-toggle:hover,
    .open > .btn-green.dropdown-toggle:focus,
    .open > .btn-green.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #005962;
      border-color: #bfbfbf; }
  .btn-green:active, .btn-green.active,
  .open > .btn-green.dropdown-toggle {
    background-image: none; }
  .btn-green.disabled:hover, .btn-green.disabled:focus, .btn-green.disabled.focus, .btn-green[disabled]:hover, .btn-green[disabled]:focus, .btn-green[disabled].focus,
  fieldset[disabled] .btn-green:hover,
  fieldset[disabled] .btn-green:focus,
  fieldset[disabled] .btn-green.focus {
    background-color: #00a8b9;
    border-color: #ffffff; }
  .btn-green .badge {
    color: #00a8b9;
    background-color: #ffffff; }

.widget-blue .symbol {
  background-color: #00adee;
  color: #FFFFFF; }

.widget-blue .value h4 {
  color: #939292; }

.widget-blue .value span {
  color: #00adee; }

.widget-green .symbol {
  background-color: #00a8b9;
  color: #FFFFFF; }

.widget-green .value h4 {
  color: #939292; }

.widget-green .value span {
  color: #00a8b9; }

.widget-pink .symbol {
  background-color: #DD007F;
  color: #FFFFFF; }

.widget-pink .value h4 {
  color: #939292; }

.widget-pink .value span {
  color: #DD007F; }

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url("../../assets/fonts/lato/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../assets/fonts/lato/Lato-Regular.woff") format("woff"), url("../../assets/fonts/lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-Italic */
@font-face {
  font-family: 'LatoWeb';
  src: url("../../assets/fonts/lato/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/lato/Lato-Italic.woff2") format("woff2"), url("../../assets/fonts/lato/Lato-Italic.woff") format("woff"), url("../../assets/fonts/lato/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoWebLight';
  src: url("../../assets/fonts/lato/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/lato/Lato-Light.woff2") format("woff2"), url("../../assets/fonts/lato/Lato-Light.woff") format("woff"), url("../../assets/fonts/lato/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-Heavy */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("../../assets/fonts/lato/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/lato/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/lato/Lato-Heavy.woff2") format("woff2"), url("../../assets/fonts/lato/Lato-Heavy.woff") format("woff"), url("../../assets/fonts/lato/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoWebBold';
  src: url("../../assets/fonts/lato/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../assets/fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/lato/Lato-Bold.woff2") format("woff2"), url("../../assets/fonts/lato/Lato-Bold.woff") format("woff"), url("../../assets/fonts/lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* Webfont: Verdana-Regular */
@font-face {
  font-family: 'Verdana';
  src: url("../../assets/fonts/verdana-regular/Verdana.woff2") format("woff2"), url("../../assets/fonts/verdana-regular/Verdana.woff") format("woff"), url("../../assets/fonts/verdana-regular/Verdana.svg#Verdana") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'LatoWeb'; }

p {
  font-family: 'Verdana';
  color: #939292; }
  p a:hover,
  p a:focus,
  p a:active {
    color: #00a1dd; }

ul.resource-list li .heading:hover {
  text-decoration: underline; }

a:hover, a:focus {
  text-decoration: none;
  color: #00a1dd; }

.search-over {
  font-family: 'LatoWebLight';
  font-size: 24px;
  display: block; }

.dataset-number {
  font-family: 'LatoWebHeavy';
  font-size: 28px; }

.feedback-submit-pane div.pane-content {
  padding-top: 0;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: none; }

.list-group .list-group-item.active {
  background-color: #00a1dd;
  border-color: #00a1dd; }

table a:hover,
table a:focus,
table a:active {
  color: #00a1dd; }

a#toggle-btn:hover,
a#toggle-btn:focus,
a#toggle-btn:active {
  background-color: #00a1dd;
  cursor: pointer; }

form a:hover,
form a:focus,
form a:active {
  color: #00a1dd; }

form #url-slug, form #field-tags-wrapper .path-form .add-on {
  background-color: #00a8b9;
  border-color: #00a8b9; }

.tabs--secondary a:hover, .tabs--secondary a:focus, .tabs--secondary a:active {
  color: #00a1dd !important; }

.tabs--secondary a.active:hover,
.tabs--secondary a.active:focus {
  color: #fff !important; }

/* BEGIN Small Devices, Tablets */
@media (max-width: 991px) and (min-width: 320px) {
  .hero {
    height: 225px !important; }
    .hero .search-quote {
      text-align: center; }
    .hero .search-input {
      width: 100% !important; }
    .hero .hero-logo {
      display: none; }
  .panel-page-links .panel-body .card {
    margin-bottom: 20px; }
  .panel-topics .col-xs-12:not(:last-child), .panel-topics .col-sm-6:not(:last-child), .panel-stories .col-xs-12:not(:last-child), .panel-stories .col-sm-6:not(:last-child) {
    margin-bottom: 20px; }
  .panel-data-analysis .pane-content .row {
    padding-left: 10px;
    padding-right: 10px; }
  .navbar .navbar-toggle {
    background-color: #00adee; }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:active,
  .navbar .navbar-toggle:focus {
    background-color: #00a1dd !important; } }

/* END Small Devices, Tablets */
/**/
@media only screen and (max-width: 480px) {
  .hero {
    height: 240px !important; }
    .hero .search-over {
      font-size: 20px; }
    .hero .dataset-number {
      font-size: 22px; }
    .hero .search-input {
      width: 100% !important; }
    .hero .hero-logo {
      display: none; } }

/**/
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green:active:hover {
  background-color: #0097a6;
  border-color: #0097a6; }

.field-name-field-topic .name {
  color: #333333; }

.field-name-field-topic .name:hover,
.field-name-field-topic .name:focus,
.field-name-field-topic .name:active {
  color: #333333;
  text-decoration: underline; }

/* BEGIN Modal styling */
#modal-content .panels-add-content-modal a:hover,
#modal-content .panels-add-content-modal a:focus,
#modal-content .panels-add-content-modal a:active {
  color: #00a1dd; }

/* END Modal styling*/
.admin-list a, .node-type-list a {
  font-weight: 300; }

.admin-list a:hover,
.admin-list a:focus,
.admin-list a:active, .node-type-list a:hover,
.node-type-list a:focus,
.node-type-list a:active {
  color: #00a1dd; }

.link-badge {
  color: #fff !important;
  background-color: #00a8b9 !important;
  border-color: #00a8b9 !important; }

span.seperator {
  color: #EEEEEE; }

.panel-region-sidebar .radix-layouts-sidebar p {
  font-size: 14px; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container.pane-block,
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .pane-content,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"].pane-block,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .pane-content,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi.pane-block,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .pane-content {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .item-list,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list {
  border: none; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list .facetapi-limit-link,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .item-list .facetapi-limit-link,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list .facetapi-limit-link {
    padding: 10px 22px; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list .facetapi-limit-link:before,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .item-list .facetapi-limit-link:before,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list .facetapi-limit-link:before {
      top: 10px;
      right: 22px; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi h2.pane-title {
  border-radius: 0;
  border: none;
  color: #fff;
  background-color: #939292;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  height: 64px;
  padding: 23px 0 0 15px;
  border-bottom: 1px solid #e6e6e6; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container h2.pane-title:after,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] h2.pane-title:after,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi h2.pane-title:after {
    font-family: "fontawesome";
    content: "\f077";
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 14px;
    top: 25px; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container.ctools-collapsed h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"].ctools-collapsed h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi.ctools-collapsed h2.pane-title {
  color: #333333;
  background-color: #f5f5f5; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container.ctools-collapsed h2.pane-title:after,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"].ctools-collapsed h2.pane-title:after,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi.ctools-collapsed h2.pane-title:after {
  content: "\f078";
  color: #333333; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .ctools-toggle,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .ctools-toggle,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .ctools-toggle {
  background: none; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul {
  margin: 0;
  padding: 0; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  height: 64px;
  background-color: #ECECEC; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf li,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li {
    position: relative; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li a,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf li a,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li a {
      padding-right: 48px; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf.last,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf.last,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf.last {
    border-bottom: none; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li:before,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf li:before,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li:before {
    content: "\f178";
    font-family: "FontAwesome";
    position: absolute;
    top: 4px;
    right: 30px; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a {
    color: #333333;
    display: block;
    padding: 22px 20px 6px 10px;
    position: relative;
    line-height: 22px;
    height: 100%; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:focus, .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:hover,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a:focus,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a:hover,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:focus,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:hover {
      color: #1a1a1a;
      text-decoration: none; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:hover:after,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a:hover:after,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:hover:after {
      content: "\f055";
      color: #00adee;
      font-family: "FontAwesome";
      position: absolute;
      top: 21px;
      right: 6px; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a img,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a img,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a img {
      height: 25px;
      width: 25px;
      margin: 0 16px 0 0; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active {
    background: #ECECEC;
    color: #00adee;
    z-index: 0; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active .font-icon-select-1::before,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active .font-icon-select-1::before,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active .font-icon-select-1::before {
      color: #00adee; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:before,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:before,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 32px 0 32px 15px;
    border-color: transparent #ECECEC;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 0; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:after,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:after,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:after {
    content: "\f00d";
    font-family: "FontAwesome";
    position: absolute;
    top: 20px;
    right: 6px; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:hover:after,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:hover:after,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:hover:after {
    color: #00adee; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf .font-icon-select-1::before,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf .font-icon-select-1::before,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf .font-icon-select-1::before {
    color: #333333;
    font-size: 18px; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] a.facetapi-limit-link,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link {
  display: block;
  padding: 5px 30px 5px 5px;
  position: relative; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] a.facetapi-limit-link:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link:before {
  content: "\f150";
  font-family: "FontAwesome";
  position: absolute;
  top: 6px;
  right: 15px; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link.open:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] a.facetapi-limit-link.open:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link.open:before {
  content: "\f151"; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .ctools-toggle {
  width: 12px; }

.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:first-child h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*="pane-facetapi"]:first-child h2.pane-title {
  border-radius: 0 0 0 0; }

.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:last-child .ctools-collapsed h2.pane-title, .panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:last-child.ctools-collapsed h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*="pane-facetapi"]:last-child .ctools-collapsed h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*="pane-facetapi"]:last-child.ctools-collapsed h2.pane-title {
  border-radius: 0 0 0 0; }

.page-node .block-menu-block ul.menu, .menu-cifras ul.menu {
  display: block;
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 100px; }
  .page-node .block-menu-block ul.menu [class*='col-'], .menu-cifras ul.menu [class*='col-'] {
    display: inline-block;
    vertical-align: top;
    float: none;
    font-size: 1rem; }
  .page-node .block-menu-block ul.menu li, .menu-cifras ul.menu li {
    list-style-image: none;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .page-node .block-menu-block ul.menu > li, .menu-cifras ul.menu > li {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem; }
  .page-node .block-menu-block ul.menu:before, .page-node .block-menu-block ul.menu:after, .menu-cifras ul.menu:before, .menu-cifras ul.menu:after {
    content: '';
    display: table; }
  .page-node .block-menu-block ul.menu:after, .menu-cifras ul.menu:after {
    clear: both; }
  .page-node .block-menu-block ul.menu li, .menu-cifras ul.menu li {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px; }
    @media (min-width: 992px) {
      .page-node .block-menu-block ul.menu li, .menu-cifras ul.menu li {
        float: left;
        width: 20%; } }
    .page-node .block-menu-block ul.menu li:hover::after, .menu-cifras ul.menu li:hover::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 12px 0 12px;
      border-color: #939292 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
      position: relative;
      width: 10px;
      z-index: 1;
      margin-left: 49%;
      bottom: -5px; }
    .page-node .block-menu-block ul.menu li.active::after, .menu-cifras ul.menu li.active::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 12px 0 12px;
      border-color: #00a8b9 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
      position: relative;
      width: 10px;
      z-index: 1;
      margin-left: 49%;
      bottom: -5px; }
    .page-node .block-menu-block ul.menu li a, .menu-cifras ul.menu li a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 150px;
      border: 1px solid #ECECEC;
      color: #333333;
      background-color: white; }
    .page-node .block-menu-block ul.menu li a.active, .menu-cifras ul.menu li a.active {
      color: white;
      background-color: #00a8b9; }
    .page-node .block-menu-block ul.menu li a::before, .menu-cifras ul.menu li a::before {
      content: '';
      width: 50px;
      height: 50px;
      position: relative;
      display: block;
      margin-left: 47%;
      margin-bottom: 10px;
      top: 46px; }
    .page-node .block-menu-block ul.menu li.menu-link-general a::before, .menu-cifras ul.menu li.menu-link-general a::before {
      background: url("../../assets/images/cifras/general.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-general a.active::before, .menu-cifras ul.menu li.menu-link-general a.active::before {
      background: url("../../assets/images/cifras/general-select.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-población a::before, .menu-cifras ul.menu li.menu-link-población a::before {
      background: url("../../assets/images/cifras/problacion.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-población a.active::before, .menu-cifras ul.menu li.menu-link-población a.active::before {
      background: url("../../assets/images/cifras/problacion-select.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-imcv a::before, .menu-cifras ul.menu li.menu-link-imcv a::before {
      background: url("../../assets/images/cifras/imcv.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-imcv a.active::before, .menu-cifras ul.menu li.menu-link-imcv a.active::before {
      background: url("../../assets/images/cifras/imcv-select.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-vivenda a::before, .menu-cifras ul.menu li.menu-link-vivenda a::before {
      background: url("../../assets/images/cifras/vivenda.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-vivenda a.active::before, .menu-cifras ul.menu li.menu-link-vivenda a.active::before {
      background: url("../../assets/images/cifras/vivenda-select.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-percepción a::before, .menu-cifras ul.menu li.menu-link-percepción a::before {
      background: url("../../assets/images/cifras/perciption.png") left top no-repeat; }
    .page-node .block-menu-block ul.menu li.menu-link-percepción a.active::before, .menu-cifras ul.menu li.menu-link-percepción a.active::before {
      background: url("../../assets/images/cifras/perciption-select.png") left top no-repeat; }
    @media all and (min-width: 992px) {
      .page-node .block-menu-block ul.menu li:hover::after, .page-node .block-menu-block ul.menu li.active::after, .menu-cifras ul.menu li:hover::after, .menu-cifras ul.menu li.active::after {
        margin-left: 45%; }
      .page-node .block-menu-block ul.menu li a::before, .menu-cifras ul.menu li a::before {
        margin-left: 38%; } }

.breadcrumb > li {
  display: inline-block; }
  .breadcrumb > li + li:before {
    content: "> ";
    padding: 0 5px; }

/* Footer Section */
#footer {
  color: #FFFFFF;
  height: 320px; }
  #footer p {
    font-family: "LatoWeb"; }
  #footer .widgets {
    background: linear-gradient(#2a2a38, #1e1e29); }
    #footer .widgets .widget-social p {
      color: #FFFFFF; }
    #footer .widgets .pattern {
      padding: 20px 0 30px;
      background-image: url("../../assets/images/pattern-footer2.png");
      background-repeat: repeat-x; }
      #footer .widgets .pattern .widget a {
        color: #FFFFFF; }
      #footer .widgets .pattern .widget h4 {
        color: #ffffff;
        font-size: 23px;
        margin-bottom: 30px;
        margin-top: 1em; }
      #footer .widgets .pattern .widget .social-icons ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: stretch;
            align-items: stretch;
        -ms-flex-pack: justify;
            justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 50%; }
        #footer .widgets .pattern .widget .social-icons ul li {
          vertical-align: middle;
          float: left;
          display: block; }
      #footer .widgets .pattern .widget .social-icons a {
        font-size: 1.4em;
        margin: 0 5px;
        text-decoration: none; }
        #footer .widgets .pattern .widget .social-icons a i {
          color: #00adee;
          border-radius: 50%;
          border: 2px solid;
          padding: 8px; }
        #footer .widgets .pattern .widget .social-icons a i.fa-facebook {
          padding: 8px 10px 8px 10px !important; }
        #footer .widgets .pattern .widget .social-icons a:hover i, #footer .widgets .pattern .widget .social-icons a:focus i, #footer .widgets .pattern .widget .social-icons a:active i {
          color: #006388; }
      #footer .widgets .pattern .widget-links li {
        background-color: transparent;
        border: none;
        margin-bottom: 15px;
        padding: 0; }
        #footer .widgets .pattern .widget-links li:before {
          content: url("../../assets/images/icon/arrow.png");
          vertical-align: middle;
          margin-right: 8px;
          position: absolute;
          left: -8px; }
        #footer .widgets .pattern .widget-links li a {
          margin-left: 14px; }
        #footer .widgets .pattern .widget-links li a:hover, #footer .widgets .pattern .widget-links li a:focus {
          text-decoration: underline; }
      #footer .widgets .pattern .widget-contact li {
        margin-bottom: 15px; }
        #footer .widgets .pattern .widget-contact li i {
          color: #00adee; }
  #footer .copyrights {
    font-family: 'LatoWeb';
    background-color: #ffffff;
    color: #2d2d2d;
    height: 60px;
    padding: 20px 0; }
    #footer .copyrights .copyright-wrap {
      margin: 0 auto;
      text-align: center; }
      #footer .copyrights .copyright-wrap small {
        font-size: 14px;
        padding: 0 10px; }
        #footer .copyrights .copyright-wrap small a:hover, #footer .copyrights .copyright-wrap small a:focus {
          text-decoration: underline; }

.btn {
  font-family: 'LatoWebBold'; }

input[type="submit"]:hover,
input[type="submit"]:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #00a1dd !important;
  border-color: #00a1dd !important; }

.hero {
  background-color: #00adee;
  padding: 30px 0 30px;
  height: 183px;
  color: #FFFFFF;
  background-image: url("../../assets/images/hero-banner.png");
  background-repeat: repeat-x; }
  .hero .container {
    height: 100%; }
    .hero .container h3 {
      color: #FFFFFF;
      font-size: 30px;
      font-family: "LatoWebHeavy"; }
    .hero .container p {
      color: #FFFFFF; }
  .hero .hero-logo img {
    margin-top: 55px; }
  .hero .search-quote {
    line-height: 1.2; }
    @media only screen and (min-width: 992px) {
      .hero .search-quote {
        height: 100px;
        padding-top: 40px;
        width: 23%; } }
  .hero .search-input {
    width: 60.33333%; }

.navbar-default .navbar-nav li > a {
  border-bottom: 2px solid transparent; }

.navigation-wrapper .container {
  overflow: visible; }
  .navigation-wrapper .container .navbar-collapse {
    overflow: visible; }

.container > .navbar-header,
.container > .navbar-collapse {
  margin-left: 10px;
  margin-right: 10px; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  padding: 0;
  vertical-align: top;
  margin-top: 20px; }

.navbar-header {
  position: relative;
  z-index: 3; }

.navbar-default {
  background: transparent;
  border: none;
  margin: 20px 0;
  overflow: visible !important;
  position: relative;
  z-index: 3; }
  .navbar-default .navbar-nav,
  .navbar-default .user-menu {
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 3; }
    .navbar-default .navbar-nav a.dropdown-toggle,
    .navbar-default .user-menu a.dropdown-toggle {
      color: #333333; }
    .navbar-default .navbar-nav .open > a,
    .navbar-default .navbar-nav li > a,
    .navbar-default .user-menu .open > a,
    .navbar-default .user-menu li > a {
      color: #333333;
      display: block;
      line-height: 20px;
      padding: 15px; }
      .navbar-default .navbar-nav .open > a.dropdown-toggle:hover, .navbar-default .navbar-nav .open > a:active, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus,
      .navbar-default .navbar-nav li > a.dropdown-toggle:hover,
      .navbar-default .navbar-nav li > a:active,
      .navbar-default .navbar-nav li > a:hover,
      .navbar-default .navbar-nav li > a:focus,
      .navbar-default .user-menu .open > a.dropdown-toggle:hover,
      .navbar-default .user-menu .open > a:active,
      .navbar-default .user-menu .open > a:hover,
      .navbar-default .user-menu .open > a:focus,
      .navbar-default .user-menu li > a.dropdown-toggle:hover,
      .navbar-default .user-menu li > a:active,
      .navbar-default .user-menu li > a:hover,
      .navbar-default .user-menu li > a:focus {
        color: #333333;
        text-decoration: none; }
      .navbar-default .navbar-nav .open > a.dropdown-toggle:focus, .navbar-default .navbar-nav .open > a.dropdown-toggle:active,
      .navbar-default .navbar-nav li > a.dropdown-toggle:focus,
      .navbar-default .navbar-nav li > a.dropdown-toggle:active,
      .navbar-default .user-menu .open > a.dropdown-toggle:focus,
      .navbar-default .user-menu .open > a.dropdown-toggle:active,
      .navbar-default .user-menu li > a.dropdown-toggle:focus,
      .navbar-default .user-menu li > a.dropdown-toggle:active {
        background-color: transparent; }
    .navbar-default .navbar-nav .dropdown-menu,
    .navbar-default .user-menu .dropdown-menu {
      border: none;
      padding: 0; }
      .navbar-default .navbar-nav .dropdown-menu li,
      .navbar-default .user-menu .dropdown-menu li {
        display: block; }
        .navbar-default .navbar-nav .dropdown-menu li a,
        .navbar-default .user-menu .dropdown-menu li a {
          display: block;
          color: #333333; }
      .navbar-default .navbar-nav .dropdown-menu li.last a:hover,
      .navbar-default .user-menu .dropdown-menu li.last a:hover {
        border-radius: 0 0 4px 4px; }
  .navbar-default .navbar-toggle {
    border-color: #ffffff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: rgba(0, 0, 0, 0.25); }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  @media all and (min-width: 768px) {
    .navbar-default .user-menu {
      float: right; }
    .navbar-default .navbar-nav li,
    .navbar-default .user-menu li {
      display: inline-block; }
      .navbar-default .navbar-nav li a,
      .navbar-default .user-menu li a {
        display: inline-block; }
      .navbar-default .navbar-nav li .dropdown-menu li,
      .navbar-default .navbar-nav li .dropdown-menu li a,
      .navbar-default .user-menu li .dropdown-menu li,
      .navbar-default .user-menu li .dropdown-menu li a {
        display: block; } }
  .navbar-default .navbar-nav.secondary li {
    float: none; }
    .navbar-default .navbar-nav.secondary li a {
      font-size: .7em;
      line-height: 1.5em;
      padding: 4px; }

@media all and (max-width: 767px) {
  .nav > li {
    display: inline; }
  .navbar-default .navbar-nav .open .dropdown-menu,
  .navbar-default .navbar-nav .dropdown-menu {
    box-shadow: none;
    border: none;
    display: block;
    width: 100%;
    position: relative; }
    .navbar-default .navbar-nav .open .dropdown-menu li > a,
    .navbar-default .navbar-nav .dropdown-menu li > a {
      display: block;
      padding: 15px 10px 15px 35px; }
      .navbar-default .navbar-nav .open .dropdown-menu li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu li > a:active,
      .navbar-default .navbar-nav .dropdown-menu li > a:hover,
      .navbar-default .navbar-nav .dropdown-menu li > a:focus,
      .navbar-default .navbar-nav .dropdown-menu li > a:active {
        clear: both; } }

#block-dkan-sitewide-dkan-sitewide-user-menu .links a {
  color: #FFFFFF;
  display: block;
  line-height: 20px;
  padding: 15px; }
  #block-dkan-sitewide-dkan-sitewide-user-menu .links a:hover, #block-dkan-sitewide-dkan-sitewide-user-menu .links a:focus {
    color: #FFFFFF;
    text-decoration: none; }

#block-dkan-sitewide-dkan-sitewide-user-menu img {
  margin: 10px; }

@media all and (min-width: 768px) {
  #block-dkan-sitewide-dkan-sitewide-user-menu {
    float: right; }
    #block-dkan-sitewide-dkan-sitewide-user-menu .links a {
      display: inline-block; } }

.navbar .nav > li > a {
  text-shadow: none; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; }
  .container > .navbar-header {
    margin-left: 0; }
  #nav-wrapper .navbar-default .logo {
    padding: 10px 10px 0 0; } }

.tabs--primary {
  margin: 10px 0; }
  .tabs--primary li {
    margin: 1px; }
  .tabs--primary li a {
    padding: 6px 15px; }
    .tabs--primary li a:hover {
      color: #fff; }
    .tabs--primary li a.active {
      color: #fff; }

.front .tabs--primary {
  display: none; }

.tabs--primary .nav-pills li a.active,
.tabs--primary .nav-pills li.active a:hover,
.tabs--primary .nav-pills li.active a:focus {
  color: #ffffff; }

.form-actions #edit-submit {
  background: #00a8b9;
  border-color: #00a8b9; }

.form-actions #edit-submit:hover,
.form-actions #edit-submit:focus,
.form-actions #edit-submit:active {
  background-color: #0097a6 !important;
  color: #fff;
  border-color: #0097a6 !important; }

a.embed-link {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 5px 15px 5px 35px;
  position: relative;
  margin: 1em 0;
  text-decoration: none; }

a.embed-link:hover,
a.embed-link:focus,
a.embed-link:active {
  color: #fff;
  text-decoration: none; }

a.embed-link:before {
  content: '\f121';
  color: #fff;
  font-family: "FontAwesome";
  font-size: 1.3em;
  position: absolute;
  top: 5px;
  left: 10px; }

textarea.embed-code {
  width: 100%;
  margin-bottom: 1em; }

ul.action-links {
  margin: 1em 15px; }
  ul.action-links li {
    float: none;
    display: inline-block; }

.btn:active,
.btn.active {
  box-shadow: none; }

.radix-layouts-sidebar ul.menu > li > ul.menu {
  margin-left: 0; }
  .radix-layouts-sidebar ul.menu > li > ul.menu li a {
    padding: 10px 15px 10px 30px; }

#block-dkan-sitewide-dkan-sitewide-search-bar input.form-text {
  font-style: italic; }

.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li a, .node-resource-form .horizontal-tabs ul.horizontal-tabs-list li a:active strong, .node-resource-form .horizontal-tabs ul.horizontal-tabs-list li a:hover strong, .node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  font-size: 16px; }

.main {
  padding-top: 30px; }

.panel-header p, .view-header p, .item-content p {
  font-family: 'Verdana';
  font-size: 16px;
  color: #939292; }

.panel-header h4, .view-header h4, .item-content h4 {
  font-size: 24px;
  font-family: 'LatoWebBold';
  color: #333333; }

.item-content p {
  font-size: 14px; }

.panel-page-links {
  margin-top: 40px;
  margin-bottom: 40px; }
  .panel-page-links .panel-header {
    text-align: center; }
    .panel-page-links .panel-header h3 {
      color: #333333;
      font-size: 30px;
      font-family: "LatoWebHeavy"; }
  .panel-page-links .panel-body a {
    text-decoration: none; }
  .panel-page-links .panel-body .card {
    border: 1px solid #ECECEC;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    text-align: center;
    height: 270px;
    padding-top: 50px;
    transition: background-color 0.3s ease; }
    .panel-page-links .panel-body .card img {
      display: block;
      margin: 0 auto; }
    .panel-page-links .panel-body .card h2 {
      margin: .75em 1em;
      text-align: center; }
    @media (max-width: 992px), (min-width: 1200px) {
      .panel-page-links .panel-body .card .content {
        margin-left: 1em;
        margin-right: 1em; } }
    .panel-page-links .panel-body .card .btn-primary {
      margin: 0 auto 1.5em; }
    .panel-page-links .panel-body .card span {
      padding-top: 60px; }
      .panel-page-links .panel-body .card span.map:after {
        content: url("../../assets/images/icon/map.png"); }
      .panel-page-links .panel-body .card span.box:after {
        content: url("../../assets/images/icon/box.png"); }
      .panel-page-links .panel-body .card span.data:after {
        content: url("../../assets/images/icon/data.png"); }
      .panel-page-links .panel-body .card span.statistic::after {
        content: url("../../assets/images/icon/statistic.png"); }
    .panel-page-links .panel-body .card h3 {
      color: #333333;
      font-size: 18px; }
    .panel-page-links .panel-body .card .content {
      padding: 0 20px 0;
      color: #939292;
      font-family: 'Verdana';
      font-size: 14px; }
    .panel-page-links .panel-body .card:hover {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
      border: none;
      background-color: #0097a6; }
      .panel-page-links .panel-body .card:hover span.map::after {
        content: url("../../assets/images/icon/map-select.png"); }
      .panel-page-links .panel-body .card:hover span.box::after {
        content: url("../../assets/images/icon/box-select.png"); }
      .panel-page-links .panel-body .card:hover span.data::after {
        content: url("../../assets/images/icon/data-select.png"); }
      .panel-page-links .panel-body .card:hover span.statistic::after {
        content: url("../../assets/images/icon/statistic-select.png"); }
      .panel-page-links .panel-body .card:hover h3 {
        color: #FFFFFF; }
      .panel-page-links .panel-body .card:hover .content {
        color: #FFFFFF; }

.panel-data-analysis {
  background-color: #fafafa;
  border: 1px solid #ECECEC;
  background-image: url("../../assets/images/pattern_dots.png");
  background-repeat: repeat;
  background-size: 80%; }
  .panel-data-analysis .d-a-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .panel-data-analysis .d-a-item .item-content h3 {
      color: #333333;
      font-size: 1.5em;
      font-family: "Helvetica";
      font-weight: bolder; }
  .panel-data-analysis .view-header {
    text-align: center;
    margin-top: 60px; }
    .panel-data-analysis .view-header h3 {
      font-size: 30px;
      color: #333333; }
  .panel-data-analysis .view-footer {
    margin-bottom: -102px; }

.pane-medata-structure-medata-content-metrics {
  margin-top: 60px; }
  .pane-medata-structure-medata-content-metrics .widget-box {
    float: left;
    width: 100%;
    height: 120px;
    display: block;
    border: none; }
    .pane-medata-structure-medata-content-metrics .widget-box .symbol {
      border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
      padding: 35px 15px;
      width: 40%;
      height: 100%;
      float: left;
      text-align: center; }
      .pane-medata-structure-medata-content-metrics .widget-box .symbol i {
        font-size: 46px; }
    .pane-medata-structure-medata-content-metrics .widget-box .value {
      border: 1px solid lightgrey;
      float: right;
      width: 60%;
      font-size: 14px;
      color: #bdbdbd;
      height: 100%;
      padding: 20px 0 0 20px; }
      .pane-medata-structure-medata-content-metrics .widget-box .value i {
        font-size: 20px; }
      .pane-medata-structure-medata-content-metrics .widget-box .value h4 {
        margin-top: 2px;
        line-height: 1.2;
        font-family: 'LatoWeb'; }
      .pane-medata-structure-medata-content-metrics .widget-box .value span {
        font-size: 38px;
        font-family: "LatoWebHeavy"; }

.panel-topics {
  background-color: #fafafa;
  border: 1px solid #ECECEC; }
  .panel-topics .view-header {
    text-align: center;
    margin-top: 60px; }
    .panel-topics .view-header h3 {
      font-family: "LatoWebHeavy";
      font-size: 30px;
      color: #333333; }
  .panel-topics .view-content {
    padding-top: 20px; }
    .panel-topics .view-content .topic-icon span {
      font-size: 2.3em;
      color: #00adee; }
    .panel-topics .view-content .views-field-name {
      padding-top: 8px;
      font-size: 16px;
      font-family: "LatoWebHeavy"; }
      .panel-topics .view-content .views-field-name .field-content a {
        color: #333333; }
      .panel-topics .view-content .views-field-name .field-content a:hover, .panel-topics .view-content .views-field-name .field-content a:focus {
        text-decoration: underline; }
    .panel-topics .view-content .views-field-description-i18n {
      font-family: 'Verdana';
      font-size: 14px;
      color: #939292;
      padding-top: 8px; }
    .panel-topics .view-content .row {
      margin-top: 20px;
      margin-bottom: 20px; }

.panel-stories .view-header {
  margin-top: 60px; }
  .panel-stories .view-header h3 {
    color: #333333;
    font-size: 30px;
    font-family: "LatoWebHeavy"; }

.panel-stories .view-content {
  padding-top: 20px; }
  .panel-stories .view-content h2 {
    margin-top: 5px; }
  .panel-stories .view-content .views-field-created {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 12px;
    color: #939292;
    padding-top: 20px; }
  .panel-stories .view-content .views-field-title h2 {
    font-size: 20px; }
  .panel-stories .view-content .views-field-title .field-content a {
    color: #333333; }
  .panel-stories .view-content .views-field-title .field-content a:hover, .panel-stories .view-content .views-field-title .field-content a:focus {
    text-decoration: underline; }
  .panel-stories .view-content .views-field-body .field-content p {
    font-family: 'Verdana';
    font-size: 14px;
    color: #939292; }

.panel-region-sidebar .radix-layouts-sidebar h2.pane-title {
  border-radius: 0;
  border: none;
  border-bottom: none;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 20px 10px;
  font-weight: normal; }

.panel-region-sidebar .radix-layouts-sidebar .pane-block {
  border-radius: 0;
  border: 1px solid #ECECEC;
  margin-bottom: 20px;
  padding: 0px; }
  .panel-region-sidebar .radix-layouts-sidebar .pane-block .pane-content {
    background-color: transparent;
    margin: 0;
    padding: 15px; }
  .panel-region-sidebar .radix-layouts-sidebar .pane-block.pane-dkan-sitewide-dkan-sitewide-social .pane-content,
  .panel-region-sidebar .radix-layouts-sidebar .pane-block.pane-dkan-sitewide-dkan-sitewide-data-extent .pane-content {
    padding: 0; }

.panel-default {
  overflow: auto; }
  .panel-default .panel-heading {
    background-color: #939292 !important;
    border-color: #939292 !important;
    color: #FFFFFF !important; }

#block-dkan-sitewide-dkan-sitewide-search-bar {
  clear: both; }
  @media all {
    #block-dkan-sitewide-dkan-sitewide-search-bar {
      position: relative;
      top: 10px;
      right: 15px;
      width: 100%;
      margin-top: 20px; }
      #block-dkan-sitewide-dkan-sitewide-search-bar form {
        width: 100%; }
      #block-dkan-sitewide-dkan-sitewide-search-bar input.form-control {
        width: 100%;
        height: 64px;
        margin: 0;
        border-radius: 32px; } }
  #block-dkan-sitewide-dkan-sitewide-search-bar form {
    display: block;
    margin: 8px 0;
    position: relative;
    width: 100%; }
  #block-dkan-sitewide-dkan-sitewide-search-bar input.form-text {
    padding: 0 30px;
    font-size: 1.1em; }
  #block-dkan-sitewide-dkan-sitewide-search-bar button[type="submit"],
  #block-dkan-sitewide-dkan-sitewide-search-bar input[type="submit"] {
    background: none !important;
    border: none;
    content: "\f002";
    color: #00adee;
    display: inline-block;
    font-size: 1.3em;
    font-family: "FontAwesome";
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    width: 25px;
    top: 15px; }
  #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .form-submit {
    margin: 22px 0 0;
    text-shadow: none; }

h1, h2, h3, h4 {
  font-family: 'LatoWebHeavy';
  color: #333333; }

.breadcrumb .home-link {
  color: #333333; }

.breadcrumb a:hover, .breadcrumb a:focus {
  color: #00a1dd; }

.breadcrumb li + li:before {
  color: #939292; }

.item-list ul.pagination {
  margin: 20px 0; }
  .item-list ul.pagination li.active > span {
    background-color: #939292;
    border-color: #939292; }
  .item-list ul.pagination li > a {
    color: #939292; }
  .item-list ul.pagination li > a:hover, .item-list ul.pagination li > a:focus {
    color: #939292; }
  .item-list ul.pagination > li {
    margin: 0;
    display: inline-block;
    padding: 0;
    position: relative; }
    .item-list ul.pagination > li > a, .item-list ul.pagination > li > span {
      padding: 6px 12px;
      border-radius: 22px; }
      .item-list ul.pagination > li > a.progress-disabled, .item-list ul.pagination > li > span.progress-disabled {
        float: left; }
    .item-list ul.pagination > li:first-child > a, .item-list ul.pagination > li:first-child > span, .item-list ul.pagination > li:last-child > a, .item-list ul.pagination > li:last-child > span {
      padding: 6px 12px;
      border-radius: 22px; }
      .item-list ul.pagination > li:first-child > a.progress-disabled, .item-list ul.pagination > li:first-child > span.progress-disabled, .item-list ul.pagination > li:last-child > a.progress-disabled, .item-list ul.pagination > li:last-child > span.progress-disabled {
        float: left; }
    .item-list ul.pagination > li .ajax-progress {
      float: left;
      padding: 6px 5px 6px 10px; }

.item-list .pagination li:first-child > span,
.item-list .pagination li:first-child > a {
  border-radius: 4px 0 0 4px; }

.item-list .pagination li:last-child > span,
.item-list .pagination li:last-child > a {
  border-radius: 0 4px 4px 0; }

.nav-pills > li > a {
  border-radius: 25px; }

.radix-layouts-sidebar h2.pane-title {
  color: #fff;
  background: #939292; }

.radix-layouts-sidebar a:hover,
.radix-layouts-sidebar a:focus,
.radix-layouts-sidebar a:active {
  color: #00a1dd; }

.radix-layouts-sidebar .item-list ul li a:hover,
.radix-layouts-sidebar .item-list ul li a:focus,
.radix-layouts-sidebar .item-list ul li a:active {
  color: #00a1dd;
  background-color: #eeeeee; }

.tabs--primary.nav-pills li a:hover,
.tabs--primary.nav-pills li a:focus,
.tabs--primary.nav-pills li a.active,
.tabs--primary li a:hover,
.tabs--primary li a:focus,
.tabs--primary li a.active {
  background: #00a1dd !important;
  border: 1px solid #00a1dd !important; }

.view-filters {
  margin-bottom: 30px; }

.views-exposed-form .views-reset-button > input[type="submit"][id='edit-reset']:hover,
.views-exposed-form .views-reset-button > input[type="submit"][id='edit-reset']:focus {
  color: #333333;
  background-color: #eeeeee !important;
  border-color: #939292 !important; }

.views-exposed-form #edit-sort-order {
  min-width: 130px; }

.views-exposed-form #edit-sort-by {
  min-width: 190px; }

.views-exposed-form select {
  -webkit-appearance: none;
  background: #fafafa url("../../assets/images/icon/arrow-bas.png") no-repeat 90% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none; }

.views-exposed-form input[type="text"], .views-exposed-form select {
  font-style: italic;
  padding-left: 20px;
  color: #939292; }

.views-exposed-form input[type="submit"] {
  min-width: 100px; }

.views-exposed-form input[type="text"] {
  width: 285px; }

.views-exposed-form input[type="submit"],
.views-exposed-form input[type="text"],
.views-exposed-form select {
  border-radius: 22px;
  height: 44px; }
  .views-exposed-form input[type="submit"][id='edit-reset'],
  .views-exposed-form input[type="text"][id='edit-reset'],
  .views-exposed-form select[id='edit-reset'] {
    background-color: white;
    border-color: #939292;
    border-width: 1px;
    color: #333333; }

.views-exposed-form label {
  font-family: "LatoWebBold";
  font-size: 16px;
  color: #333333; }

.view-dkan-datasets .view-header, .view-user-profile-search .view-header {
  color: #939292;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ECECEC;
  font-size: 24px; }

.view-dkan-datasets .view-content .font-icon-select-1, .view-user-profile-search .view-content .font-icon-select-1 {
  color: #333333; }

.view-dkan-datasets .view-content .field-name-field-topic .name, .view-user-profile-search .view-content .field-name-field-topic .name {
  font-size: 14px;
  color: #333333; }

.view-dkan-datasets .view-content .field-name-field-topic .name:hover, .view-dkan-datasets .view-content .field-name-field-topic .name:focus, .view-user-profile-search .view-content .field-name-field-topic .name:hover, .view-user-profile-search .view-content .field-name-field-topic .name:focus {
  text-decoration: underline; }

.view-dkan-datasets .view-content article, .view-user-profile-search .view-content article {
  border-bottom: 1px solid #ECECEC; }
  .view-dkan-datasets .view-content article .icon-container, .view-user-profile-search .view-content article .icon-container {
    display: none; }
  .view-dkan-datasets .view-content article .node-description p, .view-user-profile-search .view-content article .node-description p {
    font-size: 14px; }

.view-dkan-datasets .view-content h2, .view-user-profile-search .view-content h2 {
  font-size: 20px; }
  .view-dkan-datasets .view-content h2 a:hover, .view-dkan-datasets .view-content h2 a:focus, .view-user-profile-search .view-content h2 a:hover, .view-user-profile-search .view-content h2 a:focus {
    color: #00a1dd; }

.view-stories h2 a {
  color: #333333; }

.view-stories h2 a:hover, .view-stories h2 a:focus, .view-stories h2 a:active {
  text-decoration: underline; }

.view-stories .views-field-field-tags a {
  color: #333333; }

.view-stories .views-field-field-tags a:hover, .view-stories .views-field-field-tags a:focus, .view-stories .views-field-field-tags a:active {
  text-decoration: underline; }

/*# sourceMappingURL=medata.style.css.map */
