@charset "UTF-8";
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
.blue-bg {
  color: #FFFFFF;
  background-color: #00adee; }

.btn-blue {
  color: #ffffff;
  background-color: #00adee;
  border-color: #ffffff;
  border-radius: 20px;
  padding: 7px 30px; }
  .btn-blue:focus, .btn-blue.focus {
    color: #ffffff;
    background-color: #0088bb;
    border-color: #bfbfbf; }
  .btn-blue:hover {
    color: #ffffff;
    background-color: #0088bb;
    border-color: #e0e0e0; }
  .btn-blue:active, .btn-blue.active,
  .open > .btn-blue.dropdown-toggle {
    color: #ffffff;
    background-color: #0088bb;
    border-color: #e0e0e0; }
    .btn-blue:active:hover, .btn-blue:active:focus, .btn-blue:active.focus, .btn-blue.active:hover, .btn-blue.active:focus, .btn-blue.active.focus,
    .open > .btn-blue.dropdown-toggle:hover,
    .open > .btn-blue.dropdown-toggle:focus,
    .open > .btn-blue.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #006e97;
      border-color: #bfbfbf; }
  .btn-blue:active, .btn-blue.active,
  .open > .btn-blue.dropdown-toggle {
    background-image: none; }
  .btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled.focus, .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled].focus,
  fieldset[disabled] .btn-blue:hover,
  fieldset[disabled] .btn-blue:focus,
  fieldset[disabled] .btn-blue.focus {
    background-color: #00adee;
    border-color: #ffffff; }
  .btn-blue .badge {
    color: #00adee;
    background-color: #ffffff; }

.btn-green {
  color: #ffffff;
  background-color: #00a8b9;
  border-color: #ffffff;
  border-radius: 20px;
  padding: 7px 30px; }
  .btn-green:focus, .btn-green.focus {
    color: #ffffff;
    background-color: #007a86;
    border-color: #bfbfbf; }
  .btn-green:hover {
    color: #ffffff;
    background-color: #007a86;
    border-color: #e0e0e0; }
  .btn-green:active, .btn-green.active,
  .open > .btn-green.dropdown-toggle {
    color: #ffffff;
    background-color: #007a86;
    border-color: #e0e0e0; }
    .btn-green:active:hover, .btn-green:active:focus, .btn-green:active.focus, .btn-green.active:hover, .btn-green.active:focus, .btn-green.active.focus,
    .open > .btn-green.dropdown-toggle:hover,
    .open > .btn-green.dropdown-toggle:focus,
    .open > .btn-green.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #005962;
      border-color: #bfbfbf; }
  .btn-green:active, .btn-green.active,
  .open > .btn-green.dropdown-toggle {
    background-image: none; }
  .btn-green.disabled:hover, .btn-green.disabled:focus, .btn-green.disabled.focus, .btn-green[disabled]:hover, .btn-green[disabled]:focus, .btn-green[disabled].focus,
  fieldset[disabled] .btn-green:hover,
  fieldset[disabled] .btn-green:focus,
  fieldset[disabled] .btn-green.focus {
    background-color: #00a8b9;
    border-color: #ffffff; }
  .btn-green .badge {
    color: #00a8b9;
    background-color: #ffffff; }

.widget-blue .symbol {
  background-color: #00adee;
  color: #FFFFFF; }

.widget-blue .value h4 {
  color: #939292; }

.widget-blue .value span {
  color: #00adee; }

.widget-green .symbol {
  background-color: #00a8b9;
  color: #FFFFFF; }

.widget-green .value h4 {
  color: #939292; }

.widget-green .value span {
  color: #00a8b9; }

.widget-pink .symbol {
  background-color: #DD007F;
  color: #FFFFFF; }

.widget-pink .value h4 {
  color: #939292; }

.widget-pink .value span {
  color: #DD007F; }

* {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial", "Helvetica", "sans-serif"; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container.pane-block,
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .pane-content,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"].pane-block,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .pane-content,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi.pane-block,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .pane-content {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .item-list,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list {
  border: none; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list .facetapi-limit-link,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .item-list .facetapi-limit-link,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list .facetapi-limit-link {
    padding: 10px 22px; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list .facetapi-limit-link:before,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .item-list .facetapi-limit-link:before,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list .facetapi-limit-link:before {
      top: 10px;
      right: 22px; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi h2.pane-title {
  border-radius: 0;
  border: none;
  color: #fff;
  background-color: #939292;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  height: 64px;
  padding: 23px 0 0 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container h2.pane-title:after,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] h2.pane-title:after,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi h2.pane-title:after {
    font-family: "fontawesome";
    content: "\f077";
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 14px;
    top: 25px; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container.ctools-collapsed h2.pane-title:after,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"].ctools-collapsed h2.pane-title:after,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi.ctools-collapsed h2.pane-title:after {
  content: "\f078"; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .ctools-toggle,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] .ctools-toggle,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .ctools-toggle {
  background: none; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul {
  margin: 0;
  padding: 0; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  height: 64px;
  background-color: #fafafa; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf li,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li {
    position: relative; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li a,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf li a,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li a {
      padding-right: 48px; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf.last,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf.last,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf.last {
    border-bottom: none; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li:before,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf li:before,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li:before {
    content: "\f178";
    font-family: "FontAwesome";
    position: absolute;
    top: 4px;
    right: 30px; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a {
    color: #333333;
    display: block;
    padding: 22px 20px 6px 10px;
    position: relative;
    line-height: 22px;
    height: 100%; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:focus, .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:hover,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a:focus,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a:hover,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:focus,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:hover {
      color: #1a1a1a;
      background: rgba(0, 0, 0, 0.03);
      text-decoration: none; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:hover:after,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a:hover:after,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:hover:after {
      content: "\f055";
      color: #00adee;
      font-family: "FontAwesome";
      position: absolute;
      top: 21px;
      right: 6px; }
    .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a img,
    .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a img,
    .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a img {
      height: 25px;
      width: 25px;
      margin: 0 16px 0 0; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active {
    background: #fafafa;
    color: #333;
    z-index: 0; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:before,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:before,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 32px 0 32px 15px;
    border-color: transparent #fafafa;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 0; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:after,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:after,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:after {
    content: "\f00d";
    font-family: "FontAwesome";
    position: absolute;
    top: 20px;
    right: 6px; }
  .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:hover:after,
  .panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] ul li.leaf a.facetapi-active:hover:after,
  .panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:hover:after {
    color: red; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] a.facetapi-limit-link,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link {
  display: block;
  padding: 5px 30px 5px 5px;
  position: relative; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] a.facetapi-limit-link:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link:before {
  content: "\f150";
  font-family: "FontAwesome";
  position: absolute;
  top: 6px;
  right: 15px; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link.open:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*="pane-facetapi"] a.facetapi-limit-link.open:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link.open:before {
  content: "\f151"; }

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .ctools-toggle {
  width: 12px; }

.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:first-child h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*="pane-facetapi"]:first-child h2.pane-title {
  border-radius: 0 0 0 0; }

.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:last-child .ctools-collapsed h2.pane-title, .panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:last-child.ctools-collapsed h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*="pane-facetapi"]:last-child .ctools-collapsed h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*="pane-facetapi"]:last-child.ctools-collapsed h2.pane-title {
  border-radius: 0 0 0 0; }

.breadcrumb > li {
  display: inline-block; }
  .breadcrumb > li + li:before {
    content: "> ";
    padding: 0 5px; }

/* Footer Section */
#footer {
  color: #FFFFFF;
  height: 320px; }
  #footer .widgets {
    background: linear-gradient(#2a2a38, #1e1e29); }
    #footer .widgets .pattern {
      padding: 20px 0 30px;
      background-image: url("../../assets/images/pattern-footer.png");
      background-repeat: repeat-x; }
      #footer .widgets .pattern .widget a {
        color: #FFFFFF; }
      #footer .widgets .pattern .widget h4 {
        color: #ffffff;
        font-weight: bolder;
        font-size: 1.5em;
        margin-bottom: 30px;
        margin-top: 1em;
        font-family: "Helvetica"; }
      #footer .widgets .pattern .widget .social-icons ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: stretch;
            align-items: stretch;
        -ms-flex-pack: justify;
            justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 50%; }
        #footer .widgets .pattern .widget .social-icons ul li {
          vertical-align: middle;
          float: left;
          display: block; }
      #footer .widgets .pattern .widget .social-icons a {
        font-size: 1.4em;
        margin: 0 5px;
        text-decoration: none; }
        #footer .widgets .pattern .widget .social-icons a i {
          color: #00adee;
          border-radius: 50%;
          border: 2px solid;
          padding: 8px; }
        #footer .widgets .pattern .widget .social-icons a:hover i, #footer .widgets .pattern .widget .social-icons a:focus i, #footer .widgets .pattern .widget .social-icons a:active i {
          color: #006388; }
      #footer .widgets .pattern .widget-links li {
        margin-bottom: 15px; }
        #footer .widgets .pattern .widget-links li:before {
          content: url("../../assets/images/icon/arrow.png");
          vertical-align: middle;
          margin-right: 8px;
          position: absolute;
          left: -8px; }
        #footer .widgets .pattern .widget-links li a {
          margin-left: 14px; }
      #footer .widgets .pattern .widget-contact li {
        margin-bottom: 15px; }
        #footer .widgets .pattern .widget-contact li i {
          color: #00adee; }
  #footer .copyrights {
    background-color: #ffffff;
    color: #2d2d2d;
    height: 60px;
    padding: 20px 0; }
    #footer .copyrights .copyright-wrap {
      margin: 0 auto;
      text-align: center; }
      #footer .copyrights .copyright-wrap small {
        padding: 0 10px; }

.hero {
  background-color: #00adee;
  padding: 30px 0 30px;
  height: 183px;
  color: #FFFFFF;
  background-image: url("../../assets/images/hero-bg.png");
  background-repeat: repeat-x; }
  .hero .container {
    height: 100%; }
    .hero .container h3 {
      color: #FFFFFF;
      font-weight: bolder;
      font-size: 1.5em;
      font-family: "Helvetica"; }
  .hero .search-quote {
    font-size: 1.8em;
    line-height: 1.2; }
    @media only screen and (min-width: 992px) {
      .hero .search-quote {
        height: 100px;
        padding-top: 20px; } }
    .hero .search-quote strong {
      font-size: 1.3em;
      font-weight: bolder;
      font-family: "Helvetica"; }

.navigation-wrapper .container {
  overflow: visible; }
  .navigation-wrapper .container .navbar-collapse {
    overflow: visible; }

.container > .navbar-header,
.container > .navbar-collapse {
  margin-left: 10px;
  margin-right: 10px; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  padding: 0;
  vertical-align: top;
  margin-top: 20px; }

.navbar-header {
  position: relative;
  z-index: 3; }

.navbar-default {
  background: transparent;
  border: none;
  margin: 20px 0;
  overflow: visible !important;
  position: relative;
  z-index: 3; }
  .navbar-default .navbar-nav,
  .navbar-default .user-menu {
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 3; }
    .navbar-default .navbar-nav a.dropdown-toggle,
    .navbar-default .user-menu a.dropdown-toggle {
      color: #000000; }
    .navbar-default .navbar-nav .open > a,
    .navbar-default .navbar-nav li > a,
    .navbar-default .user-menu .open > a,
    .navbar-default .user-menu li > a {
      color: #000000;
      display: block;
      line-height: 20px;
      padding: 15px; }
      .navbar-default .navbar-nav .open > a.dropdown-toggle:hover, .navbar-default .navbar-nav .open > a:active, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus,
      .navbar-default .navbar-nav li > a.dropdown-toggle:hover,
      .navbar-default .navbar-nav li > a:active,
      .navbar-default .navbar-nav li > a:hover,
      .navbar-default .navbar-nav li > a:focus,
      .navbar-default .user-menu .open > a.dropdown-toggle:hover,
      .navbar-default .user-menu .open > a:active,
      .navbar-default .user-menu .open > a:hover,
      .navbar-default .user-menu .open > a:focus,
      .navbar-default .user-menu li > a.dropdown-toggle:hover,
      .navbar-default .user-menu li > a:active,
      .navbar-default .user-menu li > a:hover,
      .navbar-default .user-menu li > a:focus {
        color: #000000;
        text-decoration: none; }
      .navbar-default .navbar-nav .open > a.dropdown-toggle:focus, .navbar-default .navbar-nav .open > a.dropdown-toggle:active,
      .navbar-default .navbar-nav li > a.dropdown-toggle:focus,
      .navbar-default .navbar-nav li > a.dropdown-toggle:active,
      .navbar-default .user-menu .open > a.dropdown-toggle:focus,
      .navbar-default .user-menu .open > a.dropdown-toggle:active,
      .navbar-default .user-menu li > a.dropdown-toggle:focus,
      .navbar-default .user-menu li > a.dropdown-toggle:active {
        background-color: transparent; }
    .navbar-default .navbar-nav .dropdown-menu,
    .navbar-default .user-menu .dropdown-menu {
      border: none;
      padding: 0; }
      .navbar-default .navbar-nav .dropdown-menu li,
      .navbar-default .user-menu .dropdown-menu li {
        display: block; }
        .navbar-default .navbar-nav .dropdown-menu li a,
        .navbar-default .user-menu .dropdown-menu li a {
          display: block;
          color: #000000; }
      .navbar-default .navbar-nav .dropdown-menu li.last a:hover,
      .navbar-default .user-menu .dropdown-menu li.last a:hover {
        border-radius: 0 0 4px 4px; }
  .navbar-default .navbar-toggle {
    border-color: #ffffff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: rgba(0, 0, 0, 0.25); }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  @media all and (min-width: 768px) {
    .navbar-default .user-menu {
      float: right; }
    .navbar-default .navbar-nav li,
    .navbar-default .user-menu li {
      display: inline-block; }
      .navbar-default .navbar-nav li a,
      .navbar-default .user-menu li a {
        display: inline-block; }
      .navbar-default .navbar-nav li .dropdown-menu li,
      .navbar-default .navbar-nav li .dropdown-menu li a,
      .navbar-default .user-menu li .dropdown-menu li,
      .navbar-default .user-menu li .dropdown-menu li a {
        display: block; } }
  .navbar-default .navbar-nav.secondary li {
    float: none; }
    .navbar-default .navbar-nav.secondary li a {
      font-size: .7em;
      line-height: 1.5em;
      padding: 4px; }

@media all and (max-width: 767px) {
  .nav > li {
    display: inline; }
  .navbar-default .navbar-nav .open .dropdown-menu,
  .navbar-default .navbar-nav .dropdown-menu {
    box-shadow: compact(none, false, false, false, false, false, false, false, false, false);
    border: none;
    display: block;
    width: 100%;
    position: relative; }
    .navbar-default .navbar-nav .open .dropdown-menu li > a,
    .navbar-default .navbar-nav .dropdown-menu li > a {
      display: block;
      padding: 15px 10px 15px 35px; }
      .navbar-default .navbar-nav .open .dropdown-menu li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu li > a:active,
      .navbar-default .navbar-nav .dropdown-menu li > a:hover,
      .navbar-default .navbar-nav .dropdown-menu li > a:focus,
      .navbar-default .navbar-nav .dropdown-menu li > a:active {
        clear: both; } }

#block-dkan-sitewide-dkan-sitewide-user-menu .links a {
  color: #FFFFFF;
  display: block;
  line-height: 20px;
  padding: 15px; }
  #block-dkan-sitewide-dkan-sitewide-user-menu .links a:hover, #block-dkan-sitewide-dkan-sitewide-user-menu .links a:focus {
    color: #FFFFFF;
    text-decoration: none; }

#block-dkan-sitewide-dkan-sitewide-user-menu img {
  margin: 10px; }

@media all and (min-width: 768px) {
  #block-dkan-sitewide-dkan-sitewide-user-menu {
    float: right; }
    #block-dkan-sitewide-dkan-sitewide-user-menu .links a {
      display: inline-block; } }

.navbar .nav > li > a {
  text-shadow: none; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; }
  .container > .navbar-header {
    margin-left: 0; }
  #nav-wrapper .navbar-default .logo {
    padding: 10px 10px 0 0; } }

.tabs--primary {
  margin: 10px 0; }
  .tabs--primary li {
    margin: 1px; }
  .tabs--primary li a {
    padding: 6px 15px; }
    .tabs--primary li a:hover {
      color: #fff; }
    .tabs--primary li a.active {
      color: #fff; }

.front .tabs--primary {
  display: none; }

.tabs--primary .nav-pills li a.active,
.tabs--primary .nav-pills li.active a:hover,
.tabs--primary .nav-pills li.active a:focus {
  color: #ffffff; }

.form-actions #edit-submit {
  background: #5cb85c;
  border-color: #5cb85c; }

.form-actions #edit-submit:hover,
.form-actions #edit-submit:focus,
.form-actions #edit-submit:active {
  background: #449d44;
  border-color: #449d44;
  color: #fff; }

a.embed-link {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 5px 15px 5px 35px;
  position: relative;
  margin: 1em 0;
  text-decoration: none; }

a.embed-link:hover,
a.embed-link:focus,
a.embed-link:active {
  color: #fff;
  text-decoration: none; }

a.embed-link:before {
  content: '\f121';
  color: #fff;
  font-family: "FontAwesome";
  font-size: 1.3em;
  position: absolute;
  top: 5px;
  left: 10px; }

textarea.embed-code {
  width: 100%;
  margin-bottom: 1em; }

ul.action-links {
  margin: 1em 15px; }
  ul.action-links li {
    float: none;
    display: inline-block; }

.btn:active,
.btn.active {
  box-shadow: compact(none, false, false, false, false, false, false, false, false, false); }

.radix-layouts-sidebar ul.menu > li > ul.menu {
  margin-left: 0; }
  .radix-layouts-sidebar ul.menu > li > ul.menu li a {
    padding: 10px 15px 10px 30px; }

.main {
  padding-top: 30px; }

.panel-page-links {
  margin-top: 40px;
  margin-bottom: 40px; }
  .panel-page-links .panel-header {
    text-align: center; }
    .panel-page-links .panel-header h3 {
      color: #333333;
      font-weight: bolder;
      font-size: 1.5em;
      font-family: "Helvetica";
      text-transform: uppercase; }
    .panel-page-links .panel-header p {
      color: #939292; }
  .panel-page-links .panel-body .card {
    border: 1px solid #f3f3f3;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    text-align: center;
    height: 270px;
    transition: background-color 0.3s ease; }
    .panel-page-links .panel-body .card img {
      display: block;
      margin: 0 auto; }
    .panel-page-links .panel-body .card h2 {
      margin: .75em 1em;
      text-align: center; }
    @media (max-width: 992px), (min-width: 1200px) {
      .panel-page-links .panel-body .card .content {
        margin-left: 1em;
        margin-right: 1em; } }
    .panel-page-links .panel-body .card .btn-primary {
      margin: 0 auto 1.5em; }
    .panel-page-links .panel-body .card img {
      padding-top: 60px; }
    .panel-page-links .panel-body .card h3 {
      color: #333333; }
    .panel-page-links .panel-body .card .content {
      padding: 0 20px 0;
      color: #939292; }
    .panel-page-links .panel-body .card:hover {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
      border: none;
      background-color: #00a8b9; }
      .panel-page-links .panel-body .card:hover h3 {
        color: #FFFFFF; }
      .panel-page-links .panel-body .card:hover .content {
        color: #FFFFFF; }

.panel-data-analysis {
  background-color: #fafafa;
  border: 1px solid #f3f3f3;
  background-image: url("../../assets/images/pattern_dots.png");
  background-repeat: repeat;
  background-size: 80%; }
  .panel-data-analysis .d-a-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .panel-data-analysis .d-a-item .item-content h3 {
      color: #333333;
      font-size: 1.5em;
      font-family: "Helvetica";
      font-weight: bolder; }
    .panel-data-analysis .d-a-item .item-content p {
      color: #939292; }
  .panel-data-analysis .view-header {
    text-align: center;
    margin-top: 60px; }
    .panel-data-analysis .view-header h3 {
      color: #333333;
      font-size: 1.5em;
      font-family: "Helvetica";
      font-weight: bolder; }
    .panel-data-analysis .view-header p {
      color: #939292; }
  .panel-data-analysis .view-footer {
    margin-bottom: -102px; }

.panel-widgets {
  margin-top: 60px; }
  .panel-widgets .widget-box {
    float: left;
    width: 100%;
    height: 100px;
    display: block;
    border: none; }
    .panel-widgets .widget-box .symbol {
      border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
      padding: 26px 15px;
      width: 40%;
      height: 100%;
      float: left;
      text-align: center; }
      .panel-widgets .widget-box .symbol i {
        font-size: 46px; }
    .panel-widgets .widget-box .value {
      border: 1px solid lightgrey;
      float: right;
      width: 60%;
      font-size: 14px;
      color: #bdbdbd;
      height: 100%;
      padding: 20px 0 0 20px; }
      .panel-widgets .widget-box .value i {
        font-size: 20px; }
      .panel-widgets .widget-box .value h4 {
        margin-top: 2px;
        text-transform: uppercase; }
      .panel-widgets .widget-box .value span {
        font-size: 2.4em;
        font-weight: bold;
        font-family: "Helvetica"; }

.panel-topics {
  background-color: #fafafa;
  border: 1px solid #f3f3f3; }
  .panel-topics .view-header {
    text-align: center;
    margin-top: 60px; }
    .panel-topics .view-header h3 {
      color: #333333;
      font-size: 1.5em;
      font-family: "Helvetica";
      font-weight: bolder;
      text-transform: uppercase; }
    .panel-topics .view-header p {
      color: #939292; }
  .panel-topics .view-content {
    padding-top: 20px; }
    .panel-topics .view-content .topic-icon span {
      font-size: 2.3em;
      color: #00adee; }
    .panel-topics .view-content .views-field-name {
      padding-top: 8px;
      color: #333333;
      font-size: 1.3em;
      font-family: "Helvetica"; }
    .panel-topics .view-content .views-field-description-i18n {
      padding-top: 8px;
      color: #333333; }
    .panel-topics .view-content .row {
      margin-top: 20px;
      margin-bottom: 20px; }

.panel-stories .view-header {
  margin-top: 60px; }
  .panel-stories .view-header h3 {
    color: #333333;
    font-size: 1.5em;
    font-family: "Helvetica";
    font-weight: bolder;
    text-transform: uppercase; }
  .panel-stories .view-header p {
    color: #939292; }

.panel-stories .view-content {
  padding-top: 20px; }
  .panel-stories .view-content h2 {
    margin-top: 5px; }
  .panel-stories .view-content .views-field-created {
    color: #939292;
    font-size: smaller;
    font-weight: bolder;
    padding-top: 20px; }

.panel-region-sidebar .radix-layouts-sidebar h2.pane-title {
  border-radius: 0;
  border: none;
  border-bottom: none;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 20px 10px;
  font-weight: normal; }

.panel-region-sidebar .radix-layouts-sidebar .pane-block {
  border-radius: 0;
  border: 1px solid #f3f3f3;
  margin-bottom: 20px;
  padding: 0px; }
  .panel-region-sidebar .radix-layouts-sidebar .pane-block .pane-content {
    background-color: transparent;
    margin: 0;
    padding: 15px; }
  .panel-region-sidebar .radix-layouts-sidebar .pane-block.pane-dkan-sitewide-dkan-sitewide-social .pane-content,
  .panel-region-sidebar .radix-layouts-sidebar .pane-block.pane-dkan-sitewide-dkan-sitewide-data-extent .pane-content {
    padding: 0; }

#block-dkan-sitewide-dkan-sitewide-search-bar {
  clear: both; }
  @media all {
    #block-dkan-sitewide-dkan-sitewide-search-bar {
      position: relative;
      top: 10px;
      right: 15px;
      width: 100%;
      margin-top: 20px; }
      #block-dkan-sitewide-dkan-sitewide-search-bar form {
        width: 100%; }
      #block-dkan-sitewide-dkan-sitewide-search-bar input.form-control {
        width: 100%;
        height: 64px;
        margin: 0;
        border-radius: 32px; } }
  #block-dkan-sitewide-dkan-sitewide-search-bar form {
    display: block;
    margin: 8px 0;
    position: relative;
    width: 100%; }
  #block-dkan-sitewide-dkan-sitewide-search-bar input.form-text {
    padding: 0 30px;
    font-size: 1.1em; }
  #block-dkan-sitewide-dkan-sitewide-search-bar button[type="submit"],
  #block-dkan-sitewide-dkan-sitewide-search-bar input[type="submit"] {
    background: none !important;
    border: none;
    content: "\f002";
    color: #00adee;
    display: inline-block;
    font-size: 1.3em;
    font-family: "FontAwesome";
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    width: 25px;
    top: 15px; }
  #block-dkan-sitewide-dkan-sitewide-search-bar .views-exposed-form .form-submit {
    margin: 22px 0 0;
    text-shadow: none; }

.item-list ul.pagination {
  margin: 20px 0; }
  .item-list ul.pagination > li {
    margin: 0;
    display: inline-block;
    padding: 0;
    position: relative; }
    .item-list ul.pagination > li > a, .item-list ul.pagination > li > span {
      padding: 6px 12px;
      border-radius: 22px; }
      .item-list ul.pagination > li > a.progress-disabled, .item-list ul.pagination > li > span.progress-disabled {
        float: left; }
    .item-list ul.pagination > li:first-child > a, .item-list ul.pagination > li:first-child > span, .item-list ul.pagination > li:last-child > a, .item-list ul.pagination > li:last-child > span {
      padding: 6px 12px;
      border-radius: 22px; }
      .item-list ul.pagination > li:first-child > a.progress-disabled, .item-list ul.pagination > li:first-child > span.progress-disabled, .item-list ul.pagination > li:last-child > a.progress-disabled, .item-list ul.pagination > li:last-child > span.progress-disabled {
        float: left; }
    .item-list ul.pagination > li .ajax-progress {
      float: left;
      padding: 6px 5px 6px 10px; }

.item-list .pagination li:first-child > span,
.item-list .pagination li:first-child > a {
  border-radius: 4px 0 0 4px; }

.item-list .pagination li:last-child > span,
.item-list .pagination li:last-child > a {
  border-radius: 0 4px 4px 0; }

.nav-pills > li > a {
  border-radius: 25px; }

.view-filters {
  margin-bottom: 30px; }

.views-exposed-form input[type="submit"],
.views-exposed-form input[type="text"],
.views-exposed-form select {
  color: #939292;
  border-radius: 22px;
  height: 44px;
  min-width: 100px; }
  .views-exposed-form input[type="submit"][id='edit-reset'],
  .views-exposed-form input[type="text"][id='edit-reset'],
  .views-exposed-form select[id='edit-reset'] {
    background-color: white;
    border-color: #333333;
    border-width: 2px;
    color: #000; }

.views-exposed-form label {
  color: #333333;
  font-weight: bolder;
  font-size: 1.2em;
  font-family: "Helvetica"; }

.view-dkan-datasets .view-header {
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
  font-weight: bolder;
  font-size: 1.5em;
  font-family: "Helvetica"; }

.view-dkan-datasets .view-content article {
  border-bottom: 1px solid #f3f3f3; }
  .view-dkan-datasets .view-content article .icon-container {
    display: none; }

/*# sourceMappingURL=medata.style.css.map */
