// Global Page Layout
// -----------------------------------------------------------------------------


// Front Page Layout
// -----------------
body {
  font-family: 'LatoWeb';
}
p {
  font-family: 'Verdana';
  color: $medata-gray;
  a:hover,
  a:focus,
  a:active {
    color: $medata-btn-hover;
  }
}
ul.resource-list li .heading:hover {
  text-decoration: underline;
}
a:hover, a:focus {
  text-decoration: none;
  color: #00a1dd;
}
.search-over {
  font-family: 'LatoWebLight';
  font-size: 24px;
  display: block;
}
.dataset-number {
  font-family: 'LatoWebHeavy';
  font-size: 28px;
}
.feedback-submit-pane div.pane-content {
  padding-top: 0;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: none;
}
.list-group {
    .list-group-item.active {
      background-color: $medata-btn-hover;
      border-color: $medata-btn-hover;
    }
}
table {
  a:hover,
  a:focus,
  a:active {
    color: $medata-btn-hover;
  }
}
a#toggle-btn:hover,
a#toggle-btn:focus,
a#toggle-btn:active {
  background-color: $medata-btn-hover;
  cursor: pointer;
}
form {
  a:hover,
  a:focus,
  a:active {
    color: $medata-btn-hover;
  }
  #url-slug, #field-tags-wrapper .path-form .add-on {
    background-color: $medata-green;
    border-color: $medata-green;
  }
}
.tabs--secondary {
  a:hover, a:focus, a:active {
    color: $medata-btn-hover !important;
  }
  a.active:hover,
  a.active:focus {
    color: #fff !important;
  }
}
/* BEGIN Small Devices, Tablets */
@media (max-width: 991px) and (min-width: 320px) {
  .hero {
    height: 225px !important;
    .search-quote {
      text-align: center;
    }
    .search-input {
      width: 100% !important;
    }
    .hero-logo {
      display: none;
    }
  }
  .panel-page-links .panel-body {
    .card {
      margin-bottom: 20px;
    }
  }
  .panel-topics, .panel-stories {
    .col-xs-12:not(:last-child), .col-sm-6:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .panel-data-analysis .pane-content .row {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar {
    .navbar-toggle {
      background-color: $medata-blue;
    }
    .navbar-toggle:hover,
    .navbar-toggle:active,
    .navbar-toggle:focus {
      background-color: $medata-btn-hover !important;
    }
  }
}
/* END Small Devices, Tablets */
/**/
@media only screen and (max-width : 480px) {
  .hero {
    height: 240px !important;
    .search-over {
      font-size: 20px;
    }
    .dataset-number {
      font-size: 22px;
    }
    .search-input {
      width: 100% !important;
    }
    .hero-logo {
      display: none;
    }
  }
}
/**/
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green:active:hover {
  background-color: $medata-green-hover;
  border-color: $medata-green-hover;
}
.field-name-field-topic {
  .name {
    color: $medata-dark-gray;
  }
  .name:hover,
  .name:focus,
  .name:active {
    color: $medata-dark-gray;
    text-decoration: underline;
  }
}
/* BEGIN Modal styling */
#modal-content .panels-add-content-modal {
  a:hover,
  a:focus,
  a:active {
    color: $medata-btn-hover;
  }
}
/* END Modal styling*/
.admin-list, .node-type-list {
  a {
    font-weight: 300;
  }
  a:hover,
  a:focus,
  a:active {
    color: $medata-btn-hover;
  }
}
.link-badge {
  color: #fff !important;
  background-color: $medata-green !important;
  border-color: $medata-green !important;
}
span.seperator {
  color: #EEEEEE;
}