.panel-medata {
  margin-top: 0;
  padding-top: 0;
}

.panel-medata .panel-hero,
.panel-medata .panel-top-full,
.panel-medata .panel-bottom-full {
  width: 100%;
  clear: both;
}

.panel-medata .inside {
  padding: 15px;
}

.panel-medata .panel-hero .panel-col-first,
.panel-medata .panel-hero .panel-col-second,
.panel-medata .panel-bottom .panel-col-first,
.panel-medata .panel-bottom .panel-col-second {
  width: 50%;
  float: left;
}

.panel-medata .panel-triplet .panel-col-first,
.panel-medata .panel-triplet .panel-col-second,
.panel-medata .panel-triplet .panel-col-third {
  width: 33.333%;
  float: left;
}

.panel-medata .panel-separator {
  margin: 0;
}
