#tabs {
  margin: 0;
  padding: 0;
}

#tabs li {
  float: left;
  list-style: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
}

#tabs li a {
  font-size: small;
  font-weight: bold;
  color: #5685bc;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 8px;
  display: block;
  background: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  outline: none;
}

#tabs li a.inactive {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: #666666;
  background: #eee;
  outline: none;
  border-bottom: solid 1px #ccc;
}

#tabs li a:hover,
#tabs li a.inactive:hover {
  color: #5685bc;
  outline: none;
}

.tabcontent {
  clear: both;
  width: 100%;
  height: 1200px;
}

.tabcontent iframe {
  border: none;
}
