/* Here you can override the default styles for the  UI Options panel */

/* styles for putting the panel on top of the page and move the tab to the right */
.flc-prefsEditor-separatedPanel {
  z-index: 9999;
  position: absolute;
  right: 0;
  width: 100%;
}

/* custom styles for overriding the html elements inside the panel (option boxes, titles, etc) */
@media screen and (min-width: 40em) {
  .fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    position: absolute;
    left: 50%;
    transform: perspective(1px) translateX(-50%);
  }
}

#page {
    margin-top: 6em;
}

@media screen and (min-width: 40em) {
  #page {
    margin-top: 0em;
  }
}

@media (min-width: 353px) and (max-width: 480px) {
  #page {
    margin-top: 1em;
  }

  .flc-prefsEditor-separatedPanel {
    left: 0;
    width: 87%;
  }

  .fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    height: 47px;
  }

  .mean-container .mean-bar {
    z-index: 1;
  }
}

.flc-prefsEditor-separatedPanel iframe {
  max-width: 100% !important;
}


