// Styles for blocks.
// --------------------------------------------------

.hero {
  background-color: $medata-blue;
  padding: 30px 0 30px;
  height: 183px;
  color: #FFFFFF;
  background-image: url("../../assets/images/hero-banner.png");
  background-repeat: repeat-x;
  .container {
    height: 100%;
    h3 {
      color: #FFFFFF;
      font-size: 30px;
      font-family: "LatoWebHeavy";
    }
    p {
      color: #FFFFFF;
    }
  }
  .hero-logo img {
    margin-top: 55px;
  }
  .search-quote {
    @media only screen and (min-width : 992px) {
      height: 100px;
      padding-top: 40px;
      width: 23%;
    }
    line-height: 1.2;
  }
  .search-input {
    width: 60.33333%;
  }
}