// Styles for Nodes
// --------------------------------------------------
.node-resource-form {
  .horizontal-tabs ul.horizontal-tabs-list {
    li a, li a:active strong, li a:hover strong, li.selected a {
      font-size: 16px;
    }
  }
}