#block-dkan-sitewide-dkan-sitewide-search-bar {
  @media all {
    position: relative;
    top: 10px;
    right: 15px;
    width:100%;
    margin-top: 20px;
    form {
      width:100%;
    }
    input.form-control {
      width:100%;
      height: 64px;
      margin: 0;
      border-radius: 32px;
    }
  }
  @include searchbox;
  clear: both;
  .views-exposed-form .form-submit {
    margin:22px 0 0;
    text-shadow: none;
  }
}