// Styles for Views
// --------------------------------------------------
.view-filters {
  margin-bottom: 30px;
}
.views-exposed-form {
  .views-reset-button > input[type="submit"][id='edit-reset']:hover,
  .views-reset-button > input[type="submit"][id='edit-reset']:focus {
    color: $medata-dark-gray;
    background-color: #eeeeee !important;
    border-color: $medata-gray !important;
  }
  #edit-sort-order {
    min-width: 130px;
  }
  #edit-sort-by {
    min-width: 190px;
  }
  select {
    -webkit-appearance: none;
    background: #fafafa url("../../assets/images/icon/arrow-bas.png") no-repeat 90% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    appearance: none;
  }
  input[type="text"], select {
    font-style: italic;
    padding-left: 20px;
    color: $medata-gray;
  }
  input[type="submit"] {
    min-width: 100px;
  }
  input[type="text"] {
    width: 285px;
  }
  input[type="submit"],
  input[type="text"],
  select {
    border-radius: 22px;
    height: 44px;
    &[id = 'edit-reset'] {
      background-color: white;
      border-color: $medata-gray;
      border-width: 1px;
      color: $medata-dark-gray;
    }
  }
  label {
    font-family: "LatoWebBold";
    font-size: 16px;
    color: $medata-dark-gray;
  }
}
.view-dkan-datasets, .view-user-profile-search {
  .view-header {
    color: $medata-gray;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $medata-border-gray;
    font-size: 24px;
  }
  .view-content {
    .font-icon-select-1 {
      color: $medata-dark-gray;
    }
    .field-name-field-topic {
      .name {
        font-size: 14px;
        color: $medata-dark-gray;
      }
      .name:hover, .name:focus {
        text-decoration: underline;
      }
    }
    article {
      border-bottom: 1px solid $medata-border-gray;
      .icon-container {
        display: none;
      }
      .node-description p {
        font-size: 14px;
      }
    }
    h2 {
      font-size: 20px;
      a:hover, a:focus {
        color: $medata-btn-hover;
      }
    }
  }
}
.view-stories {
  h2 {
    a {
      color: #333333;
    }
    a:hover, a:focus, a:active {
      text-decoration: underline;
    }
  }
  .views-field-field-tags {
    a {
      color: #333333;
    }
    a:hover, a:focus, a:active {
      text-decoration: underline;
    }
  }
}
