/* Drupal 7 only */
.panels-ipe #ed11y-panel {
  transform: translateY(-50px) !important;
}

/*
1. Reset and base elements
2. Panel
3. Element highlights and tips
4. Popovers
 */

/* 1. Reset and base elements =============== */

.ed11y-reset,
.ed11y-reset div,
.ed11y-reset p,
.ed11y-reset ul,
.ed11y-reset li,
.ed11y-reset span,
.ed11y-reset img,
.ed11y-reset button,
.ed11y-reset a,
.ed11y-reset svg {
  /* Yes: this is an abomination. But injected content inherits styles from the theme. */
  all: initial !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  line-height: 1.5 !important;
  color: #404040 !important;
  box-sizing: border-box !important;
  font-size: 15px !important;
  border: none !important;
}
.ed11y-reset div {
  display: block !important;
}
.ed11y-reset p {
  padding-bottom: 13px !important;
  display: block !important;
}
.ed11y-reset button,
.ed11y-reset button * {
  text-align: center !important;
  cursor: pointer !important;
}
.ed11y-reset a,
.ed11y-reset a * {
  text-decoration: underline !important;
  cursor: pointer !important;
  color: inherit !important;
}
.ed11y-reset a:hover,
.ed11y-reset a:focus,
.ed11y-reset a:hover span,
.ed11y-reset a:focus span {
  color: #0a65aa !important;
}
.ed11y-reset li {
  display: block !important;
  list-style: none !important;
}

.ed11y-reset .ed11y-small,
.ed11y-reset .ed11y-small * {
  font-size: 13px !important;
}

.ed11y-button:hover,
.ed11y-button:focus {
  background: silver !important;
  color: black !important;
}

/* 2. Info panel ============================================= */

#ed11y-panel {
  z-index: 1000 !important;
  position: fixed !important;
  bottom: 16px !important;
  right: 21px !important;
  text-align: left !important;
  transform-origin: 100% 100% !important;
  border-radius: 4px 4px 8px 4px !important;
  transition: opacity .2s !important;
  max-width: calc(100vw - 28px) !important;
  background: #fff !important;
}

#ed11y-panel .ed11y-panel-inactive,
.ed11y-reset .ed11y-fullcheck,
.ed11y-panel-shut #ed11y-panel-content,
.ed11y-panel-shut #ed11y-panel-buttonbar button:not(#ed11y-main-toggle),
.ed11y-panel-minimized #ed11y-panel-upper,
.ed11y-panel-minimized #ed11y-panel-content,
.ed11y-panel-minimized #ed11y-shutpanel,
.ed11y-panel-minimized #ed11y-summary-toggle,
.ed11y-panel-minimized .ed11y-about,
.ed11y-pass .ed11y-jumplink {
  display: none !important;
}
.ed11y-panel-active .ed11y-upper-active {
  display: block !important;
}

#ed11y-panel.ed11y-preload {
  opacity: 0 !important;
  transform: scale(0) !important;
}
.ed11y-panel-active {
  width: 21.25em !important;
  box-shadow: 2px 2px 6px #0004, 0 0 0 1px #0002 !important;
}

#ed11y-panel-buttonbar {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  border-top: 1px solid #ccc !important;
  border-radius: 0 12px 12px 0 !important;
}
#ed11y-panel-buttonbar button:not(#ed11y-main-toggle) {
  flex: 1 1 auto !important;
  border-right: 1px solid #ccc !important;
  min-height: 33px !important;
  min-width: 44px !important;
  color: #666 !important;
  font-weight: 300 !important;
}
#ed11y-panel #ed11y-panel-buttonbar [aria-pressed='true']:not(.ed11y-minimize) {
  background: #3679b0 !important;
  color: #fff !important;
}
#ed11y-panel-buttonbar button:not(#ed11y-main-toggle):hover,
#ed11y-panel-buttonbar button:not(#ed11y-main-toggle):focus {
  background: #064980 !important;
  color: #fff !important;
}
#ed11y-summary-toggle {
  font-size: 12px !important;
}
#ed11y-shutpanel {
  padding-right: 7px !important;
  font-family: helvetica, arial, sans-serif !important;
}
#ed11y-panel-buttonbar #ed11y-main-toggle {
  flex: 0 0 auto !important;
  height: 2.267em !important;
}
#ed11y-panel .ed11y-toggle-icon {
  width: 0 !important;
  height: 0 !important;
  padding: 17px !important;
  display: inline-block !important;
  vertical-align: middle !important;
  margin: -15px -1px -17px !important;
  background-color: transparent !important;
}
#ed11y-panel.ed11y-pass .ed11y-toggle-icon {
  margin: -19px -5px -17px !important;
}
.ed11y-minimize span {
  box-shadow: 1.5px 1.5px #777 !important;
  height: 0.467em !important;
  width: 0.467em !important;
  display: inline-block !important;
  transform: rotate(45deg) !important;
  vertical-align: top !important;
  margin-top: 0.267em !important;
}
.ed11y-minimize:hover span,
.ed11y-minimize:focus span {
  box-shadow: 2px 2px #fff !important;
}
.ed11y-panel-minimized .ed11y-minimize span {
  transform: rotate(225deg) !important;
  margin-top: 12px !important;
}
.ed11y-panel-minimized .ed11y-minimize {
  padding-right: 8px !important;
}

#ed11y-main-toggle {
  background-color: #3271A4 !important;
  color: #fff !important;
  border-radius: 50px !important;
  cursor: pointer !important;
  padding: 3px 5px 5px 5px !important;
  z-index: 1001 !important;
  outline: none !important;
  margin: -1px -12px -2px -14px !important;
}
#ed11y-main-toggle * {
  color: #fff !important;
  fill: #fff !important;
}
.ed11y-warnings  #ed11y-main-toggle {
  background-image: linear-gradient(to bottom, #be8c00, #826000) !important;
}
.ed11y-errors #ed11y-main-toggle {
  background-image: linear-gradient(to top, #790909, #b80000) !important;
}
#ed11y-panel #ed11y-main-toggle.disabled {
  background: gray !important;
  cursor: not-allowed !important;
}
#ed11y-main-toggle .ed11y-count {
  padding: 0 2px 0 0 !important;
  user-select: none !important;
  display: inline-block !important;
  font-size: 14px !important;
  vertical-align: middle !important;
  color: #fed !important;
  min-width: 1em !important;
}

#ed11y-panel-content {
  padding: 1em 1em 1em 1.125em !important;
  display: flex !important;
  align-items: center !important;
}
.ed11y-reset #ed11y-panel-header {
  position: relative !important;
  padding: 15px 36px 15px 15px !important;
  color: #333 !important;
  height: 74px !important;
  width: 100% !important;
  line-height: 22px !important;
  background: #fff !important;
}

a.ed11y-jumplink,
a.ed11y-jumplink span {
  color: #004c9b !important;
  font-size: 13px !important;
}
a.ed11y-jumplink {
  display: inline-block !important;
  padding: 3px 6px !important;
  margin: -6px !important;
}

#ed11y-panel a:hover,
#ed11y-panel a:focus,
#ed11y-panel a:hover span,
#ed11y-panel a:focus span {
  color: #111 !important;
}

#ed11y-panel .ed11y-fullcheck-header {
  padding: 0 15px !important;
  line-height: 28px !important;
  background: #3679b0 !important;
  font-size: 14px !important;
  color: #fff !important;
  font-weight: 600 !important;
  border-radius: 4px 4px 0 0 !important;
}
#ed11y-panel .ed11y-fullcheck-header p {
  padding: 4px 0 8px !important;
  font-size: 14px !important;
  color: #fff !important;
}
.ed11y-fullcheck-header a:hover,
.ed11y-fullcheck-header a:focus {
  color: inherit !important;
  text-decoration: none !important;
  box-shadow: inset 0 -2px #fff, 0 1px #fff !important;
}

.ed11y-reset .ed11y-bold {
  font-weight: 600 !important;
  color: inherit !important;
}

.ed11y-reset .ed11y-fullcheck {
  position: relative !important;
  padding-bottom: 0 !important;
  width: 100% !important;
  transition: all .2s ease-out !important;
  border-bottom: 1px solid #dbdbdb !important;
  background: #f4f4f4 !important;
}
.ed11y-fullcheck .ed11y-header-button {
  background: rgba(0,0,0,.25) !important;
  color: #fff !important;
  opacity: 1 !important;
  padding: 0 8px 3px 9px !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  font-size: 12px !important;
  border-top-right-radius: 4px !important;
}
.ed11y-header-button span {
  color: inherit !important;
}
.ed11y-fullcheck button:hover,
.ed11y-fullcheck button:focus {
  background: #444 !important;
}

#ed11y-panel .ed11y-next-button {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  height: 28px !important;
  color: #fff !important;
}

/* todo beta: this needs JS */
#ed11y-panel .allytogglefocus {
  transform: scale(1.09) !important;
  background-image: linear-gradient(to bottom, #e040fb, #00bcd4) !important;
}
.ed11y-error-message a {
  color: #fff !important;
  text-decoration: underline !important;
  border: 0 !important;
}
.ed11y-error-message a:hover,
.ed11y-error-message a:focus {
  text-decoration: none !important;
}
.ed11y-reset .ed11y-sr-only,
div.ed11y-sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  display: block !important;
  white-space: nowrap !important;
  clip-path: inset(50%) !important;
}
.ed11y-reset .ed11y-red-text,
.ed11y-reset .ed11y-red-text strong {
  color: #ba0013 !important;
  font-size: 15px !important;
}
#ed11y-outline-list .ed11y-outline-2 {
  padding-left: 28px !important;
}
#ed11y-outline-list .ed11y-outline-3 {
  padding-left: 36px !important;
}
#ed11y-outline-list .ed11y-outline-4 {
  padding-left: 44px !important;
}
#ed11y-outline-list .ed11y-outline-5 {
  padding-left: 52px !important;
}
#ed11y-outline-list .ed11y-outline-6 {
  padding-left: 60px !important;
}
#ed11y-outline-list .ed11y-red-text span[aria-hidden="true"] {
  float: left !important;
  margin-left: -12px !important;
}
.ed11y-fullcheck li,
.ed11y-fullcheck ul {
  padding: 5px 0 5px 20px !important;
  font-size: 14px !important;
  text-indent: -23px !important;
}
.ed11y-fullcheck ul {
  list-style-type: none !important;
  padding: 7px 10px 0 15px !important;
  background: #f4f4f4 !important;
  display: block !important;
  z-index: 100 !important;
  position: relative !important;
  outline: 0 !important;
  max-height: calc(90vh - 352px) !important;
  min-height: 160px !important;
  overflow-y: auto !important;
}
#ed11y-outline-list .ed11y-small {
  font-weight: 600 !important;
}
#ed11y-outline-list .ed11y-small:first-child {
  box-shadow: inset 0 0 0 1px #777 !important;
  border-radius: 4px !important;
  width: 18px !important;
  height: 18px !important;
  display: inline-block !important;
  text-align: center !important;
  margin-right: 2px !important;
  color: #fff !important;
  background: linear-gradient(to bottom right, #a659ce, #1679b0) !important;
  line-height: 18px !important;
  font-size: 12px !important;
}
#ed11y-image-list li {
  padding: 2px 6px !important;
  text-indent: 0 !important;
  width: 100% !important;
  word-break: break-word !important;
  margin: 12px 0 !important;
  float: left !important;
}
#ed11y-image-list img {
  width: 76px !important;
  margin: 4px 10px 0 0 !important;
  float: left !important;
}

#ed11y-outline-list::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 7px !important;
}
#ed11y-outline-list::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background-color: rgba(0, 0, 0, .5) !important;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5) !important;
}
.ed11y-tip button {
  top: 0 !important;
  position: absolute !important;
  width: 34px !important;
  height: 46px !important;
  right: 2px !important;
  color: #fafafa !important;
  background: #3679b0 !important;
  box-shadow: -1px 1px rgba(255,255,255,.6) !important;
}


button#ed11y-panel-button {
  float: left !important;
  border-radius: 0 !important;
  background: #f6f6f6 !important;
  width: 48% !important;
  color: #4d4d4d !important;
  font-size: 14px !important;
  border-top: 1px solid #d7d7d7 !important;
  outline: 0 !important;
  cursor: pointer !important;
  height: 30px !important;
}

#ed11y-panel.ed11y-panel-minimized {
  width: auto !important;
  min-height: 0 !important;
  right: 22px !important;
}

.ed11y-reveal-alts {
  position: absolute !important;
  font-size: 14px !important;
  display: inline-flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
}

.ed11y-reveal-alts span {
  background: #00bffff3 !important;
  color: #111 !important;
  z-index: 100 !important;
  text-indent: 28px !important;
  font-weight: 500 !important;
  padding: 6px !important;
  width: 100% !important;
}
.ed11y-reveal-alts svg {
  width: 22px !important;
  margin: 0 0 0 -27px !important;
  position: absolute !important;
}
.ed11y-reveal-alts path {
  fill: #111 !important;
}

button#ed11y-panel-button:focus,
button#ed11y-panel-button:hover {
  background: #e1e1e1 !important;
}


span.ed11y-headings-label {
  font-size: .9em !important;
  padding: 4px 3px !important;
  border-radius: 3px !important;
  background-color: #777678 !important;
  background-image: linear-gradient(to bottom right, #b629ce, #16aec2) !important;
  color: white !important;
  display: inline-block !important;
}

@media (prefers-reduced-motion: reduce) {
  #ed11y-panel > * {
    animation: none !important;
  }
}


/* ===== Alert and warning highlights ============================================= */

.ed11y-tip p {
  color: #41576d !important;
}
.ed11y-reset .ed11y-tip-heading {
  font-size: 15px !important;
  font-weight: 500 !important;
  padding: 12px 34px 11px 16px !important;
  margin: -16px -16px 11px -16px !important;
  color: #fff !important;
  background: #3679b0 !important;
  min-height: 46px !important;
}
.ed11y-reset .ed11y-tip-heading * {
  color: inherit !important;
}
.ed11y-tip-heading ~ .ed11y-tip-heading {
  margin: 8px 0 12px -16px !important;
  padding: 3px 16px !important;
  display: inline-block !important;
}
.ed11y-tip-heading ~ .ed11y-tip-heading::before {
  content: "Issue #2: " !important;
  padding-right: 2px !important;
}
.ed11y-tip-heading ~ .ed11y-tip-heading ~ .ed11y-tip-heading::before {
  content: "Issue #3: " !important;
}
.ed11y-tip-heading ~ .ed11y-tip-heading ~ .ed11y-tip-heading ~ .ed11y-tip-heading::before {
  content: "Issue #4: " !important;
}
.ed11y-revealed-element {
  background: #ffe877 !important;
  padding: 12px 16px 44px !important;
  text-align: center !important;
  font-weight: 600 !important;
  border-radius: 16px 16px 0 0 !important;
}

.ed11y-reset .ed11y-pop {
  display: none !important;
}

/* Templated SVG icons from FontAwesome 5 for better cross-browser support and minimize conflicting libraries. */
button .ed11y-toggle-icon,
div.ed11y-panel-icon {
  background: 50% 50% #d00017 url("data:image/svg+xml,%3Csvg role='img' focusable='false' width='28px' height='28px' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffffff' d='M256 48c114.953 0 208 93.029 208 208 0 114.953-93.029 208-208 208-114.953 0-208-93.029-208-208 0-114.953 93.029-208 208-208m0-40C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 56C149.961 64 64 149.961 64 256s85.961 192 192 192 192-85.961 192-192S362.039 64 256 64zm0 44c19.882 0 36 16.118 36 36s-16.118 36-36 36-36-16.118-36-36 16.118-36 36-36zm117.741 98.023c-28.712 6.779-55.511 12.748-82.14 15.807.851 101.023 12.306 123.052 25.037 155.621 3.617 9.26-.957 19.698-10.217 23.315-9.261 3.617-19.699-.957-23.316-10.217-8.705-22.308-17.086-40.636-22.261-78.549h-9.686c-5.167 37.851-13.534 56.208-22.262 78.549-3.615 9.255-14.05 13.836-23.315 10.217-9.26-3.617-13.834-14.056-10.217-23.315 12.713-32.541 24.185-54.541 25.037-155.621-26.629-3.058-53.428-9.027-82.141-15.807-8.6-2.031-13.926-10.648-11.895-19.249s10.647-13.926 19.249-11.895c96.686 22.829 124.283 22.783 220.775 0 8.599-2.03 17.218 3.294 19.249 11.895 2.029 8.601-3.297 17.219-11.897 19.249z'%3E%3C/path%3E%3C/svg%3E") no-repeat !important;
  background-size: 28px !important;
  line-height: 100px !important;
}

div.ed11y-panel-icon {
  height: 34px !important;
  width: 34px !important;
  margin: 0 12px 0 0 !important;
  border-radius: 100% !important;
  background-color: #3679b0 !important;
}

.ed11y-pass .ed11y-panel-icon {
  background: 50% 50% #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' role='img' focusable='false' aria-hidden='true' viewBox='0 0 512 512'%3E%3Cpath fill='%23359E56' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E") no-repeat !important;
}
.ed11y-errors .ed11y-panel-icon {
  background-color: #b80000 !important;
}
.ed11y-warnings .ed11y-panel-icon {
  background-color: #ae7c00 !important;
}
.ed11y-errors .ed11y-jumplink,
.ed11y-errors .ed11y-jumplink span {
  color: #b80000 !important;
}
.ed11y-warnings .ed11y-jumplink,
.ed11y-warnings .ed11y-jumplink span {
  color: #826000 !important;
}

.ed11y-pops-ready .ed11y-pop,
.ed11y-errors .ed11y-toggle-icon,
.ed11y-warning .ed11y-toggle-icon {
  background: 50% 50% #d00017 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='img' focusable='false' aria-hidden='true' viewBox='0 0 576 576' width='22px' height='22px'%3E%3Cpath fill='%23ffffff' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'%3E%3C/path%3E%3C/svg%3E") no-repeat !important;
  background-size: 22px !important;
}

.ed11y-pops-ready .ed11y-warning-btn {
  background: 50% 50% #ffc800 url("data:image/svg+xml,%3Csvg height='22px' width='22px' fill='%23505050' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cpath d='M50,5C25.147,5,5,25.147,5,50c0,24.854,20.147,45,45,45c24.854,0,45-20.146,45-45C95,25.147,74.854,5,50,5z M49.999,76.75 c-3.342,0-6.061-2.717-6.061-6.057c0-3.346,2.719-6.066,6.061-6.066c3.343,0,6.063,2.723,6.063,6.066 C56.063,74.033,53.342,76.75,49.999,76.75z M66.238,43.808c-1.174,1.827-2.795,4.01-6.028,6.531 c-3.213,2.461-4.185,3.724-4.478,4.259c-0.166,0.299-0.402,0.895-0.59,2.004c-0.065,0.39-0.119,0.812-0.162,1.265l-0.254,2.714 l-9.771,0.023l0.124-3.127c0.017-0.4,0.06-1.185,0.168-1.918c0.324-2.229,1.085-4.209,2.261-5.882 c1.104-1.573,3.247-3.563,6.549-6.079c2.442-1.863,3.396-2.928,3.764-3.492c0.47-0.717,0.697-1.472,0.697-2.305 c0-1.931-0.705-3.46-2.094-4.545c-1.474-1.151-3.518-1.735-6.073-1.735c-2.265,0-4.176,0.599-5.682,1.778 c-1.594,1.239-2.713,2.953-3.245,4.964l-0.66,2.492l-9.563-1.037l0.676-3.238c0.88-4.218,2.865-7.474,5.902-9.677 c3.934-2.855,8.156-4.303,12.552-4.303c4.856,0,8.831,1.249,12.508,3.931c3.399,2.482,5.349,6.492,5.349,11.002 C68.188,39.642,67.55,41.727,66.238,43.808z'%3E%3C/path%3E%3C/svg%3E") no-repeat !important;
}
.ed11y-warnings .ed11y-toggle-icon {
  background: 50% 50% #ffc800 url("data:image/svg+xml,%3Csvg width='124' height='124' xmlns='http://www.w3.org/2000/svg'%3E %3Cg%3E %3Ctitle%3ELayer 1%3C/title%3E %3Cpath d='m61,18c-24.853,0 -45,20.147 -45,45c0,24.854 20.147,45 45,45c24.854,0 45,-20.146 45,-45c0,-24.853 -20.146,-45 -45,-45zm-0.001,71.75c-3.342,0 -6.061,-2.717 -6.061,-6.057c0,-3.346 2.719,-6.066 6.061,-6.066c3.343,0 6.063,2.723 6.063,6.066c0.001,3.34 -2.72,6.057 -6.063,6.057zm16.239,-32.942c-1.174,1.827 -2.795,4.01 -6.028,6.531c-3.213,2.461 -4.185,3.724 -4.478,4.259c-0.166,0.299 -0.402,0.895 -0.59,2.004c-0.065,0.39 -0.119,0.812 -0.162,1.265l-0.254,2.714l-9.771,0.023l0.124,-3.127c0.017,-0.4 0.06,-1.185 0.168,-1.918c0.324,-2.229 1.085,-4.209 2.261,-5.882c1.104,-1.573 3.247,-3.563 6.549,-6.079c2.442,-1.863 3.396,-2.928 3.764,-3.492c0.47,-0.717 0.697,-1.472 0.697,-2.305c0,-1.931 -0.705,-3.46 -2.094,-4.545c-1.474,-1.151 -3.518,-1.735 -6.073,-1.735c-2.265,0 -4.176,0.599 -5.682,1.778c-1.594,1.239 -2.713,2.953 -3.245,4.964l-0.66,2.492l-9.563,-1.037l0.676,-3.238c0.88,-4.218 2.865,-7.474 5.902,-9.677c3.934,-2.855 8.156,-4.303 12.552,-4.303c4.856,0 8.831,1.249 12.508,3.931c3.399,2.482 5.349,6.492 5.349,11.002c0,2.209 -0.638,4.294 -1.95,6.375z' id='svg_1'/%3E %3Cellipse fill='none' stroke='%23000000' stroke-width='10' cx='61' cy='62.81668' id='svg_4' rx='56' ry='56'/%3E %3C/g%3E %3C/svg%3E") no-repeat !important;
  background-size: 28px !important;
}

#ed11y-panel.ed11y-warnings .ed11y-toggle-icon {
  margin: 0 5px 0 -1px !important;
  padding: 14px !important;
  filter: invert(1) brightness(1.725) !important;
}

.ed11y-pops-ready .ed11y-pop {
  font-size: 0 !important;
  display: block !important;
  border-radius: 50% !important;
  position: absolute !important;
  margin: 10px 0 0 10px !important;
  z-index: 499 !important;
  padding: 17px !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5) !important;
  min-width: 0 !important;
  outline: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.ed11y-reset .ed11y-pop[data-ed11y-inserted="after"] {
  margin-left: -8px !important;
}
.ed11y-reset .ed11y-pop-ready {
  display: block !important;
  transition: box-shadow .15s ease-out !important;
}


.ed11y-instance-inline + .ed11y-instance-inline > button {
  margin-top: 16px !important;
  box-shadow: none !important;
}

body .ed11y-link-text-warning {
  box-shadow: 0 0 0 4px #ffc800 !important;
  border-radius: 2px !important;
  border-color: transparent !important;
}
button.ed11y-pop:hover {
  box-shadow: 0 0 0 3px #5294ca !important;
}
body .ed11y-headings-fail {
  color: #c22326 !important;
}
body .ed11y-error-border {
  outline: 5px solid #c22326 !important;
}
body .ed11y-link-text-fail {
  background-color: #c22326 !important;
  border-radius: 0.25em !important;
  padding: 5px !important;
  color: white !important;
}
body .ed11y-text-warning,
body .ed11y-uppercase-warning {
  background-color: rgba(255,200,0, .2);
  box-shadow: 4px 0 rgba(255,200,0, .2), -4px 0 rgba(255,200,0, .2);
}
body .ed11y-text-warning {
  background-color: rgba(255,200,0, .2) !important;
  box-shadow: 4px 0 rgba(255,200,0, .2), -4px 0 rgba(255,200,0, .2) !important;
}

body .ed11y-warning-border {
  outline: 5px solid #ffc800 !important;
}

#ed11y-panel svg {
  overflow: hidden !important;
  vertical-align: top !important;
}


.ed11y-tip-ready[aria-expanded="true"]:focus {
  outline: none !important;
}
[data-ed11y-tip-root] {
  z-index: 500 !important;
}
.ed11y-tip-box[data-theme~='ed11y-theme'] {
  background-color: white !important;
  color: #333 !important;
  padding: 8px !important;
  font-size: 14px !important;
  box-shadow: 0 0 16px #0009 !important;
  font-weight: normal !important;
}

.ed11y-reset .ed11y-tip {
  width: 400px !important;
  max-width: 98vw !important;
  position: absolute !important;
  background: #fafafa !important;
  border-radius: 3px 0 3px 0 !important;
  padding: 16px 16px 0 16px !important;
  box-shadow: inset 0 0 0 2px #3679b0, -1px 0 #fff3, 1px 1px 5px rgba(0,0,0,.2) !important;
  color: #112f4e !important;
  z-index: 1001 !important;
  display: none !important;
}
.ed11y-reset .ed11y-tip-under {
  width: calc(100vw - 30px) !important;
}

.ed11y-tip .ed11y-arrow {
  content: "" !important;
  position: absolute !important;
  width: 20px !important;
  height: 20px !important;
  margin-left: -26px !important;
  transform: rotate(45deg) !important;
  border: 1px solid rgba(255,255,255,.6) !important;
  border-right: 0 !important;
  border-top: 0 !important;
  background: #3679b0 !important;
}

.ed11y-reset .ed11y-about[aria-expanded="true"] {
  background: #3679b0 !important;
  color: #fff !important;
}
.ed11y-about-text + #ed11y-fullcheck-headers {
  display: none !important;
}
.ed11y-reset .ed11y-about-text {
  background: #fafafa !important;
  padding: 16px 18px 1px 16px !important;
  box-shadow: inset 0 0 3px rgba(0,0,0,.2) !important;
}
.ed11y-about-text p + p {
  padding-right: 26px !important;
}
.ed11y-tip-left .ed11y-arrow {
  right: -10px !important;
  transform: rotate(-135deg) !important;
}
.ed11y-tip-under .ed11y-arrow {
  transform: rotate(135deg) !important;
}

.ed11y-hover + .ed11y-tip,
.ed11y-reset .ed11y-tip-open {
  display: block !important;
  opacity: 1 !important;
}
.ed11y-force-overflow {
  overflow: visible !important;
}
.ed11y-hidden-highlight {
  box-shadow: inset 0 0 0 1px #c27000, 0 0 0 2px #c26000, 0 0 0 7px #ffc800, 0 0 0 10px #c27000 !important;
}
.ed11y-instance {
  text-align: left !important;
}
.ed11y-instance-inline {
  text-align: left !important;
  display: inline !important;
  vertical-align: top !important;
  position: absolute !important;
}
.ed11y-reset .ed11y-tip-closer {
  margin: -13px -16px 0 0 !important;
  position: relative !important;
  float: right !important;
  padding: 2px 8px 5px 9px !important;
  font-size: 14px !important;
}
#ed11y-panel .ed11y-tip-box {
  width: 95% !important;
}

.ed11y-hidden,
.ed11y-reset .ed11y-hidden {
  display: none !important;
}

.ed11y-button:focus,
button.ed11y-pop:focus,
#ed11y-panel a:focus,
#ed11y-panel button:focus,
#ed11y-main-toggle:hover {
  box-shadow: 0 0 3px 1px #fff, 0 0 0 3px #064980 !important;
}
.ed11y-panel-minimized#ed11y-panel .ed11y-minimize:focus {
  box-shadow: none !important;
}
