// Helpers
// -----------------------------------------------------------------------------

.blue-bg {
  color: #FFFFFF;
  background-color: $medata-blue;
}

.btn-blue {
  @include button-variant( #ffffff,$medata-blue, #ffffff);
  border-radius: 20px;
  padding: 7px 30px;
}

.btn-green {
  @include button-variant( #ffffff, $medata-green,#ffffff);
  border-radius: 20px;
  padding: 7px 30px;
}

.widget-blue {
  .symbol {
    background-color: $medata-blue;
    color: #FFFFFF;
  }
  .value {
    h4 {
      color: $medata-gray;
    }
    span {
      color: $medata-blue;
    }
  }
}

.widget-green {
  .symbol {
    background-color: $medata-green;
    color: #FFFFFF;
  }
  .value {
    h4 {
      color: $medata-gray;
    }
    span {
      color: $medata-green;
    }
  }

}

.widget-pink {
  .symbol {
    background-color: $medata-pink;
    color: #FFFFFF;
  }
  .value {
    h4 {
      color: $medata-gray;
    }
    span {
      color: $medata-pink;
    }
  }
}
