// Typography
// -----------------------------------------------------------------------------
/* Webfont: Lato-Regular */@font-face {
  font-family: 'LatoWeb';
  src: url('../../assets/fonts/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
  font-family: 'LatoWeb';
  src: url('../../assets/fonts/lato/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/lato/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
  font-family: 'LatoWebLight';
  src: url('../../assets/fonts/lato/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
  font-family: 'LatoWebHeavy';
  src: url('../../assets/fonts/lato/Lato-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/lato/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
  font-family: 'LatoWebBold';
  src: url('../../assets/fonts/lato/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Verdana-Regular */@font-face {
  font-family: 'Verdana';
  src: url('../../assets/fonts/verdana-regular/Verdana.woff2') format('woff2'),
      url('../../assets/fonts/verdana-regular/Verdana.woff') format('woff'),
      url('../../assets/fonts/verdana-regular/Verdana.svg#Verdana') format('svg');
  font-weight: normal;
  font-style: normal;
}