/**
 * @file
 * Block Styling
 */

@import "init";

.block {
  background-color: rgba(255, 255, 255, .05);
  color: $grey;
  font-size: .9em;
  margin-bottom: .6em;
  padding: .5em;

  h2.block-title {
    margin-top: 0;
  }
}

#main {
  .block {
    margin-top: .6em;
    background-color: $lighter-grey;
  }

}

