// Mixins
// -----------------------------------------------------------------------------

@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin card($shadow) {
  @if $shadow { box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12); }
  @else { border: 1px solid $medata-border-gray; }
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
  }

  h2 {
    margin:.75em 1em;
    text-align: center;
  }

  .content {
    @media (max-width: 992px),(min-width: 1200px) {
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .btn-primary {
    margin: 0 auto 1.5em;
  }
}

@mixin font-source-sans($size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

@mixin margin($direction, $size) {
  @if $direction == down {
    margin-bottom: $size;
  } @else if $direction == up {
    margin-top: $size;
  } @else if $direction == right {
    margin-right: $size;
  } @else if  $direction == left {
    margin-left: $size;
  } @else if $direction == h {
    margin-left: $size;
    margin-right: $size;
  } @else if $direction == v {
    margin-top: $size;
    margin-bottom: $size;

  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin searchbox {
  form {
    display:block;
    margin:8px 0;
    position:relative;
    width: 100%;
  }
  input.form-text {
    padding: 0 30px;
    font-size: 1.1em;
  }
  button[type="submit"],
  input[type="submit"] {
    background:none !important;
    border:none;
    content:"\f002";
    color: $medata-blue;
    display: inline-block;
    font-size: 1.3em;
    font-family: $icon-fa;
    margin: 0;
    padding:0;
    position: absolute;
    right:30px;
    width:25px;
    top: 15px;
  }
  //input::-webkit-input-placeholder { padding-left: 20px;}
  //input::-moz-placeholder { padding-left: 20px;}

}

%screenreader {
  position: absolute;
  top:0;
  left:-9999px
}

@mixin pointer($color) {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 32px 0 32px 15px;
  border-color: transparent $color;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 0;
}

// Panels Mixins
// -------------

@mixin blockbox {
  @include border-radius(0);
  border: 1px solid $medata-border-gray;
  margin-bottom: 20px;
  padding:0px;
  .pane-content {
    background-color: transparent;
    margin: 0;
    padding: 15px;
  }
}

@mixin medata-block-title {
  @include border-radius(0);
  border: none;
  border-bottom: none;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 20px 10px;
  font-weight: normal;
}