// Variables
// -----------------------------------------------------------------------------

$medata-green:                #00a8b9;
$medata-green-hover:          #0097a6;
$medata-blue:                 #00adee;
$medata-btn-hover:            #00a1dd;

$medata-light-gray:           #fafafa;
$medata-border-gray:          #ECECEC;
$medata-pink:                 #DD007F;

$medata-gray:                 #939292;
$medata-dark-gray:            #333333;

$medata-sidebar-open:         #727472;
$medata-sidebar-close:        #f5f5f5;
$medata-sidebar-default:      #ECECEC;

$medata-footer-top:           #2a2a38;
$medata-footer-bottom:        #1e1e29;

$breadcrumb-separator:          "\003e";


// Brand colors
// -----------------------------------------------------------------------------

$brand-secondary:       #ab5421;
$brand-primary:         #0A77BD;
$brand-secondary:       #002245;
$brand-success:         #00a8b9;
$brand-warning:         #FFE285;
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;

$icon-fa:    'FontAwesome';
