// Styles for blocks.
// --------------------------------------------------

.panel-region-sidebar .radix-layouts-sidebar {
  p {
    font-size: 14px;
  }
  .ctools-collapsible-container,
  div[class*="pane-facetapi"],
  .block-facetapi {
    &.pane-block,
    .pane-content {
      border: none;
      margin: 0;
      padding: 0;
      @include border-radius(0);
    }
    .item-list {
      border: none;
      .facetapi-limit-link {
        padding: 10px 22px;
        &:before {
          top: 10px;
          right: 22px;
        }
      }
    }
    h2.pane-title {
      @include border-radius(0);
      border: none;
      color: #fff;
      background-color: $medata-gray;
      font-size: 16px;
      font-weight: normal;
      position: relative;
      height: 64px;
      padding: 23px 0 0 15px;
      border-bottom: 1px solid #e6e6e6;
      &:after {
        font-family: "fontawesome";
        content: "\f077";
        color: white;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        right: 14px;
        top: 25px;
      }
    }
    &.ctools-collapsed {
      h2.pane-title {
        color: $medata-dark-gray;
        background-color: $medata-sidebar-close;
      }
      h2.pane-title:after {
        content: "\f078";
        color: $medata-dark-gray;
      }
    }
    .ctools-toggle {
      background: none;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    ul li.leaf {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
      height: 64px;
      background-color: $medata-sidebar-default;
      li {
        position: relative;
        a {
          padding-right: 48px;
        }
      }
      &.last {
        border-bottom: none;
      }
      li:before {
        content: "\f178";
        font-family: $icon-fa;
        position: absolute;
        top: 4px;
        right: 30px;
      }
      a {
        color: $medata-dark-gray;
        display: block;
        padding: 22px 20px 6px 10px;
        position: relative;
        line-height: 22px;
        height: 100%;
        &:focus,
        &:hover {
          color: darken($medata-dark-gray, 10%);
          text-decoration: none;
        }
        &:hover:after {
          content: "\f055";
          color: $medata-blue;
          font-family: $icon-fa;
          position: absolute;
          top: 21px;
          right: 6px;
        }
        img {
          height: 25px;
          width: 25px;
          margin: 0 16px 0 0;
        }
      }
      a.facetapi-active {
        background: $medata-sidebar-default;
        color: $medata-blue;
        z-index: 0;
        .font-icon-select-1::before {
          color: $medata-blue;
        }
      }
      a.facetapi-active:before {
        @include pointer($medata-sidebar-default);
      }
      a.facetapi-active:after {
        content: "\f00d";
        font-family: $icon-fa;
        position: absolute;
        top: 20px;
        right: 6px;
      }
      a.facetapi-active:hover:after {
        color: $medata-blue;
      }
      .font-icon-select-1::before {
        color: $medata-dark-gray;
        font-size: 18px;
      }
    }
    a.facetapi-limit-link {
      display: block;
      padding: 5px 30px 5px 5px;
      position: relative;
    }
    a.facetapi-limit-link:before {
      content: "\f150";
      font-family: $icon-fa;
      position: absolute;
      top: 6px;
      right: 15px;
    }
    a.facetapi-limit-link.open:before {
      content: "\f151";
    }
  }
  .ctools-collapsible-container .ctools-toggle {
    width: 12px;
  }
}

// Rounded facet corners.
.panel-region-sidebar .radix-layouts-sidebar {
  .panel-panel-inner {
    .panels-ipe-portlet-wrapper:first-child,
    > div[class*="pane-facetapi"]:first-child {
      h2.pane-title {
        @include border-radius(0 0 0 0);
      }
    }
    .panels-ipe-portlet-wrapper:last-child,
    > div[class*="pane-facetapi"]:last-child {
      .ctools-collapsed,
      &.ctools-collapsed {
        h2.pane-title {
          @include border-radius(0 0 0 0);
        }
      }
    }
  }
}

.page-node .block-menu-block ul.menu, .menu-cifras ul.menu {
  //@include reset-list();
  @include row-inline();
  @include inline-list();
  @include make-row(0px);
  margin-bottom: 100px;
  li {
    @include make-md-column(2.4, 0px);
    @include make-xs-column(12, 0px);
    @include margin-v(20px);
    @include padding-h(5px);

    &:hover::after {
      content: '';
      @include triangle-bottom(24px, 11px, $medata-gray);
      position: relative;
      width: 10px;
      z-index: 1;
      margin-left: 49%;
      bottom: -5px;
    }

    &.active::after {
      content: '';
      @include triangle-bottom(24px, 11px, $medata-green);
      position: relative;
      width: 10px;
      z-index: 1;
      margin-left: 49%;
      bottom: -5px;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 150px;
      border: 1px solid $medata-border-gray;
      color: $medata-dark-gray;
      background-color: white;
    }

    a.active {
      color: white;
      background-color: $medata-green;
    }

    & a::before {
      content: '';
      width: 50px;
      height: 50px;
      position: relative;
      display: block;
      margin-left: 47%;
      margin-bottom: 10px;
      top: 46px;
    }

    // link: General
    &.menu-link-general a::before {
      background: url('../../assets/images/cifras/general.png') left top no-repeat;
    }
    &.menu-link-general a.active::before {
      background: url('../../assets/images/cifras/general-select.png') left top no-repeat;
    }

    // link: Publicacion
    &.menu-link-población a::before {
      background: url('../../assets/images/cifras/problacion.png') left top no-repeat;
    }
    &.menu-link-población a.active::before {
      background: url('../../assets/images/cifras/problacion-select.png') left top no-repeat;
    }

    // link: IMCV
    &.menu-link-imcv a::before {
      background: url('../../assets/images/cifras/imcv.png') left top no-repeat;
    }
    &.menu-link-imcv a.active::before {
      background: url('../../assets/images/cifras/imcv-select.png') left top no-repeat;
    }

    // link: Vivenda
    &.menu-link-vivenda a::before {
      background: url('../../assets/images/cifras/vivenda.png') left top no-repeat;
    }
    &.menu-link-vivenda a.active::before {
      background: url('../../assets/images/cifras/vivenda-select.png') left top no-repeat;
    }

    // link: Perception
    &.menu-link-percepción a::before {
      background: url('../../assets/images/cifras/perciption.png') left top no-repeat;
    }
    &.menu-link-percepción a.active::before {
      background: url('../../assets/images/cifras/perciption-select.png') left top no-repeat;
    }


    @media all and (min-width: $screen-md-min) {
      &:hover::after, &.active::after {
        margin-left: 45%;
      }

      a::before {
        margin-left: 38%;
      }
    }//END @media

  }
}
