/* Footer Section */

#footer {
  color: #FFFFFF;
  p {
    font-family: "LatoWeb";
  }
  height: 320px;
  .widgets {
    background: linear-gradient($medata-footer-top, $medata-footer-bottom);
    .widget-social {
      p {
        color: #FFFFFF;
      }
    }
    .pattern {
      padding: 20px 0 30px ;
      background-image: url("../../assets/images/pattern-footer2.png");
      background-repeat: repeat-x;
      //background-size: 100% 290px;
      .widget {
        a {
          color: #FFFFFF;
        }
        h4 {
          color: #ffffff;
          font-size: 23px;
          margin-bottom:30px;
          margin-top:1em;
        }
        .social-icons {
          ul {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 50%;
            li {
              vertical-align: middle;
              float: left;
              display: block;
            }
          }
          a {
            font-size: 1.4em;
            margin: 0 5px;
            text-decoration: none;
            i {
              color: $medata-blue;
              border-radius: 50%;
              border: 2px solid;
              padding: 8px;
            }
            i.fa-facebook {
              padding: 8px 10px 8px 10px !important;
            }
            &:hover,&:focus, &:active {
              i {
                color: darken($medata-blue, 20%);
              }
            }

          }
        }
      }
      .widget-links {
        li {
          background-color: transparent;
          border: none;
          margin-bottom: 15px;
          padding: 0;
          &:before {
            content: url("../../assets/images/icon/arrow.png");
            vertical-align: middle;
            margin-right:8px;
            position: absolute;
            left: -8px;
          }
          a {
            margin-left:14px;
          }
          a:hover, a:focus {
            text-decoration: underline;
          }
        }
      }
      .widget-contact {
        li {
          margin-bottom: 15px;
          i {
            color: $medata-blue;
          }
        }
      }
    }

  }

  .copyrights {
    font-family: 'LatoWeb';
    background-color: #ffffff;
    color: #2d2d2d;
    height: 60px;
    padding: 20px 0;
    .copyright-wrap {
      margin: 0 auto;
      text-align: center;
      small {
        font-size: 14px;
        padding: 0 10px;
        a:hover, a:focus {
          text-decoration: underline;
        }
      }
    }

  }
}
