// Styles for Forms
// --------------------------------------------------
.btn {
  font-family: 'LatoWebBold';
}
input[type="submit"]:hover,
input[type="submit"]:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: $medata-btn-hover !important;
  border-color: $medata-btn-hover !important;;
}