// Styles for panels and panes.
// --------------------------------------------------
.panel-header, .view-header, .item-content {
  p {
    font-family: 'Verdana';
    font-size: 16px;
    color: $medata-gray;
  }
  h4 {
    font-size: 24px;
    font-family: 'LatoWebBold';
    color: $medata-dark-gray;
  }
}

.item-content {
  p {
    font-size: 14px;
  }
}

.panel-page-links {
  @include margin("v", 40px);
  .panel-header {
    text-align: center;
    h3 {
      color: $medata-dark-gray;
      font-size: 30px;
      font-family: "LatoWebHeavy";
    }
  }
  .panel-body {
    a {
      text-decoration: none;
    }
    .card {
      @include card(false);
      height: 270px;
      padding-top: 50px;
      span {
        padding-top: 60px;
        &.map:after { content: url("../../assets/images/icon/map.png");  }
        &.box:after { content: url("../../assets/images/icon/box.png");  }
        &.data:after { content: url("../../assets/images/icon/data.png");  }
        &.statistic::after { content: url("../../assets/images/icon/statistic.png");  }
      }
      h3 {
        color: $medata-dark-gray;
        font-size: 18px;
      }
      .content {
        padding: 0 20px 0;
        color: $medata-gray;
        font-family: 'Verdana';
        font-size: 14px;
      }
      @include transition(background-color .3s ease);
      &:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
        border: none;
        background-color: $medata-green-hover;
        span.map::after { content: url("../../assets/images/icon/map-select.png");  }
        span.box::after { content: url("../../assets/images/icon/box-select.png");  }
        span.data::after { content: url("../../assets/images/icon/data-select.png");  }
        span.statistic::after { content: url("../../assets/images/icon/statistic-select.png");  }
        h3 {
          color: #FFFFFF;
        }
        .content {
          color: #FFFFFF;
        }
      }
    }
  }
}

.panel-data-analysis {
  background-color: $medata-light-gray;
  border: 1px solid $medata-border-gray;
  background-image: url("../../assets/images/pattern_dots.png");
  background-repeat: repeat;
  background-size: 80%;
  .d-a-item {
    display: flex;
    align-items: center;
    .item-content {
      h3 {
        color: $medata-dark-gray;
        font-size: 1.5em;
        font-family: "Helvetica";
        font-weight: bolder;
      }
    }
  }
  .view-header {
    text-align: center;
    margin-top:60px;
    h3 {
      font-size: 30px;
      color: $medata-dark-gray;
    }
  }
  .view-footer {
    margin-bottom: -102px;
  }
}

.pane-medata-structure-medata-content-metrics {
  margin-top: 60px;
  .widget-box {
    float:left;
    width:100%;
    height: 120px;
    display: block;
    border: none;
    .symbol {
      border-radius:4px 0 0 4px;
      -webkit-border-radius:4px 0 0 4px;
      padding:35px 15px;
      width:40%;
      height: 100%;
      float:left;
      text-align:center;
      i {
        font-size:46px;
      }
    }
    .value {
      border: 1px solid lightgrey;
      float:right;
      width:60%;
      font-size:14px;
      color:#bdbdbd;
      height: 100%;
      padding: 20px 0 0 20px;
      i {
        font-size:20px;
      }
      h4 {
        margin-top: 2px;
        line-height: 1.2;
        font-family: 'LatoWeb';
      }
      span {
        font-size: 38px;
        font-family: "LatoWebHeavy";
      }
    }
  }
}

.panel-topics {
  background-color: $medata-light-gray;
  border: 1px solid $medata-border-gray;
  .view-header {
    text-align: center;
    margin-top:60px;
    h3 {
      font-family: "LatoWebHeavy";
      font-size: 30px;
      color: $medata-dark-gray;
    }
  }
  .view-content {
    padding-top:20px;
    .topic-icon span {
      font-size: 2.3em;
      color: $medata-blue;
    }
    .views-field-name {
      padding-top: 8px;
      font-size: 16px;
      font-family: "LatoWebHeavy";
      .field-content {
        a {
          color: $medata-dark-gray;
        }
        a:hover, a:focus {
          text-decoration: underline;
        }
      }
    }
    .views-field-description-i18n {
      font-family: 'Verdana';
      font-size: 14px;
      color: $medata-gray;
      padding-top: 8px;
    }
    .row {
      @include margin('v', 20px);
    }
  }
}

.panel-stories {
  .view-header {
    margin-top:60px;
    h3 {
      color: $medata-dark-gray;
      font-size: 30px;
      font-family: "LatoWebHeavy";
    }
  }
  .view-content {
    padding-top: 20px;
    h2 {
      margin-top: 5px;
    }
    .views-field-created  {
      font-family: 'Verdana';
      font-weight: bold;
      font-size: 12px;
      color: $medata-gray;
      padding-top: 20px;
    }
    .views-field-title {
      h2 {
        font-size: 20px;
      }
      .field-content {
        a {
          color: $medata-dark-gray;
        }
        a:hover, a:focus {
          text-decoration: underline;
        }
      }
    }
    .views-field-body .field-content p {
      font-family: 'Verdana';
      font-size: 14px;
      color: $medata-gray;
    }
  }
}
.panel-region-sidebar {
  .radix-layouts-sidebar {
    h2.pane-title {
      @include medata-block-title;
    }
    .pane-block {
      @include blockbox;
      &.pane-dkan-sitewide-dkan-sitewide-social .pane-content,
      &.pane-dkan-sitewide-dkan-sitewide-data-extent .pane-content {
        padding: 0;
      }
    }
  }
}
.panel-default {
  overflow: auto;
  .panel-heading {
    background-color: $medata-gray !important;
    border-color: $medata-gray !important;
    color: #FFFFFF !important;
  }
}
