// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

// Pager
// --------------------------------------------------
h1, h2, h3, h4 {
  font-family: 'LatoWebHeavy';
  color: $medata-dark-gray;
}
.breadcrumb {
  .home-link {
    color: $medata-dark-gray;
  }
  a:hover, a:focus {
    color: $medata-btn-hover;
  }
  li + li:before {
    color: $medata-gray;
  }
}
.item-list {
  ul.pagination {
    margin: 20px 0;
    li.active > span {
      background-color: $medata-gray;
      border-color: $medata-gray;
    }
    li > a {
      color: $medata-gray;
    }
    li > a:hover, li > a:focus {
      color: $medata-gray;
    }
    > li {
      margin: 0;
      display: inline-block;
      padding: 0;
      position: relative;
      > a, > span {
        padding: 6px 12px;
        border-radius: 22px;
        &.progress-disabled {
          float: left;
        }
      }
      &:first-child, &:last-child {
        > a, > span {
          padding: 6px 12px;
          border-radius: 22px;
          &.progress-disabled {
            float: left;
          }
        }
      }
      .ajax-progress {
        float: left;
        padding: 6px 5px 6px 10px;
      }
    }
  }
}
.item-list .pagination {
  li:first-child > span,
  li:first-child > a {
    @include border-radius(4px 0 0 4px);
  }
  li:last-child > span,
  li:last-child > a {
    @include border-radius(0 4px 4px 0);
  }
}
.nav-pills > li > a {
  border-radius: 25px;
}
.radix-layouts-sidebar {
  h2.pane-title {
    color: #fff;
    background: $medata-gray;
  }
  a:hover,
  a:focus,
  a:active {
    color: $medata-btn-hover;
  }
  .item-list ul li a:hover,
  .item-list ul li a:focus,
  .item-list ul li a:active {
    color: $medata-btn-hover;
    background-color: #eeeeee;
  }
}
.tabs--primary.nav-pills li a:hover,
.tabs--primary.nav-pills li a:focus,
.tabs--primary.nav-pills li a.active,
.tabs--primary li a:hover,
.tabs--primary li a:focus,
.tabs--primary li a.active {
  background: $medata-btn-hover !important;
  border: 1px solid $medata-btn-hover !important;
}